<div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-s)" class="gT56h11SX_ ">
      
    {%- unless product -%}
      <p>{{ "gempages.ProductTitle.product_not_found" | t }}</p>
    {%- else -%}
      
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gT56h11SX_">
    <div
      
        class="gT56h11SX_ "
        
      >
      <div  >
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-product-title"
          style="--w:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#000000;--fs:normal;--ff:var(--g-font-Lora, 'Lora'), var(--g-font-heading, heading);--weight:400;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:28px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;overflow:hidden"
        >{{ product.title }}</h1>
      </div>
    </div>
    </gp-text>
    
      
    {%- endunless -%}
  
      </div>
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="geqkThV8Sd" data-id="geqkThV8Sd"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geqkThV8Sd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gAutu4Wtf8 gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="g4dv9D3Or4"
        class="g4dv9D3Or4 gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"regular","uid":"g4dv9D3Or4","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
        data-hidden="false"
      >
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      id="p-price-g4dv9D3Or4"
        class=" "
        
      >
      <div  >
        <div
          type="regular"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-money gp-decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1;--ts:none;--ta:left;--c:#3B3B3B;--fs:normal;--ff:var(--g-font-Lora, 'Lora'), var(--g-font-heading, heading);--weight:600;--ls:0px;--size:27px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;overflow:hidden"
        >
     {% if variant.price %} 
       {{ variant.price | money}}
     {% endif %}
   </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g4WGI_wHSK gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="ggo_yxaAKo"
        class="ggo_yxaAKo gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"compare","uid":"ggo_yxaAKo","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      id="p-price-ggo_yxaAKo"
        class=" "
        
      >
      <div  >
        <div
          type="compare"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-product-compare-price gp-line-through"
          style="--w:100%;--tdc:#92959A;--tdt:1;--ts:none;--ta:left;--c:#92959A;--fs:normal;--ff:var(--g-font-Lora, 'Lora'), var(--g-font-heading, heading);--weight:400;--ls:0px;--size:24px;--size-tablet:24px;--size-mobile:21px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >
      {% if variant.compare_at_price  %} 
        {{ variant.compare_at_price | money}}
      {% else %}
        
      {% endif %}
    </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--d:none;--d-tablet:none;--d-mobile:none"
      class="gAjIJMZJ_G gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gTExHSXfjf" data-id="gTExHSXfjf"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb-mobile:var(--g-s-xl);--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTExHSXfjf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gv4YR-vmfY gp-relative gp-flex gp-flex-col"
    >
      
    
      
      
    <div
    data-id="g-7kiugpoF"
      
      data-id="g-7kiugpoF"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:4px;--jc:left">
            <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="g_42aRE9C5 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] g7Y2inmgZv"
    >
      <div 
      data-id="g7Y2inmgZv"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FFBD13;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M494.756 172.531C487.584 166.223 478.755 162.157 469.223 160.772L352.515 143.813L300.322 38.0585C296.059 29.4211 289.463 22.2793 281.248 17.4079C273.627 12.8894 264.893 10.5 255.99 10.5C247.086 10.5 238.352 12.8885 230.731 17.4079C222.516 22.2793 215.921 29.4202 211.658 38.0585L159.465 143.814L42.7577 160.772C33.2249 162.157 24.3953 166.223 17.2238 172.531C10.571 178.382 5.6009 185.95 2.8493 194.418C0.0985474 202.886 -0.329158 211.931 1.61295 220.575C3.70726 229.892 8.46049 238.373 15.359 245.096L99.8092 327.415L79.8728 443.651C77.4027 458.054 81.3677 472.698 90.7517 483.83C100.205 495.043 113.999 501.474 128.596 501.474C136.545 501.474 144.501 499.501 151.604 495.766L255.991 440.887L360.377 495.766C367.48 499.501 375.435 501.474 383.385 501.474C397.981 501.474 411.775 495.043 421.229 483.83C430.613 472.698 434.578 458.055 432.108 443.651L412.173 327.415L496.623 245.096C503.521 238.372 508.274 229.892 510.368 220.575C512.311 211.931 511.883 202.886 509.133 194.418C506.38 185.951 501.409 178.382 494.756 172.531ZM471.194 219.011L377.929 309.924C374.863 312.913 373.463 317.219 374.188 321.439L396.205 449.81C397.647 458.219 390.965 465.048 383.385 465.048C381.384 465.048 379.322 464.572 377.329 463.524L262.046 402.917C260.15 401.92 258.07 401.422 255.991 401.422C253.912 401.422 251.833 401.92 249.937 402.917L134.654 463.524C132.662 464.572 130.597 465.048 128.597 465.048C121.016 465.048 114.335 458.219 115.777 449.81L137.794 321.439C138.519 317.219 137.119 312.913 134.053 309.924L40.785 219.011C33.0633 211.485 37.3242 198.372 47.9948 196.821L176.886 178.092C181.123 177.476 184.787 174.815 186.682 170.975L244.324 54.1795C246.71 49.3447 251.35 46.9272 255.991 46.9272C260.632 46.9272 265.271 49.3455 267.656 54.1795L325.298 170.975C327.194 174.814 330.856 177.476 335.094 178.092L463.985 196.821C474.656 198.372 478.916 211.485 471.194 219.011Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="g9tzAs03bM ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
      class="gp-leading-[0] gxbb-QR6Ah"
    >
      <div 
      data-id="gxbb-QR6Ah"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FFBD13;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M494.756 172.531C487.584 166.223 478.755 162.157 469.223 160.772L352.515 143.813L300.322 38.0585C296.059 29.4211 289.463 22.2793 281.248 17.4079C273.627 12.8894 264.893 10.5 255.99 10.5C247.086 10.5 238.352 12.8885 230.731 17.4079C222.516 22.2793 215.921 29.4202 211.658 38.0585L159.465 143.814L42.7577 160.772C33.2249 162.157 24.3953 166.223 17.2238 172.531C10.571 178.382 5.6009 185.95 2.8493 194.418C0.0985474 202.886 -0.329158 211.931 1.61295 220.575C3.70726 229.892 8.46049 238.373 15.359 245.096L99.8092 327.415L79.8728 443.651C77.4027 458.054 81.3677 472.698 90.7517 483.83C100.205 495.043 113.999 501.474 128.596 501.474C136.545 501.474 144.501 499.501 151.604 495.766L255.991 440.887L360.377 495.766C367.48 499.501 375.435 501.474 383.385 501.474C397.981 501.474 411.775 495.043 421.229 483.83C430.613 472.698 434.578 458.055 432.108 443.651L412.173 327.415L496.623 245.096C503.521 238.372 508.274 229.892 510.368 220.575C512.311 211.931 511.883 202.886 509.133 194.418C506.38 185.951 501.409 178.382 494.756 172.531ZM471.194 219.011L377.929 309.924C374.863 312.913 373.463 317.219 374.188 321.439L396.205 449.81C397.647 458.219 390.965 465.048 383.385 465.048C381.384 465.048 379.322 464.572 377.329 463.524L262.046 402.917C260.15 401.92 258.07 401.422 255.991 401.422C253.912 401.422 251.833 401.92 249.937 402.917L134.654 463.524C132.662 464.572 130.597 465.048 128.597 465.048C121.016 465.048 114.335 458.219 115.777 449.81L137.794 321.439C138.519 317.219 137.119 312.913 134.053 309.924L40.785 219.011C33.0633 211.485 37.3242 198.372 47.9948 196.821L176.886 178.092C181.123 177.476 184.787 174.815 186.682 170.975L244.324 54.1795C246.71 49.3447 251.35 46.9272 255.991 46.9272C260.632 46.9272 265.271 49.3455 267.656 54.1795L325.298 170.975C327.194 174.814 330.856 177.476 335.094 178.092L463.985 196.821C474.656 198.372 478.916 211.485 471.194 219.011Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gpE1Ib5iiX ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gtodZb7tST"
    >
      <div 
      data-id="gtodZb7tST"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FFBD13;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M494.756 172.531C487.584 166.223 478.755 162.157 469.223 160.772L352.515 143.813L300.322 38.0585C296.059 29.4211 289.463 22.2793 281.248 17.4079C273.627 12.8894 264.893 10.5 255.99 10.5C247.086 10.5 238.352 12.8885 230.731 17.4079C222.516 22.2793 215.921 29.4202 211.658 38.0585L159.465 143.814L42.7577 160.772C33.2249 162.157 24.3953 166.223 17.2238 172.531C10.571 178.382 5.6009 185.95 2.8493 194.418C0.0985474 202.886 -0.329158 211.931 1.61295 220.575C3.70726 229.892 8.46049 238.373 15.359 245.096L99.8092 327.415L79.8728 443.651C77.4027 458.054 81.3677 472.698 90.7517 483.83C100.205 495.043 113.999 501.474 128.596 501.474C136.545 501.474 144.501 499.501 151.604 495.766L255.991 440.887L360.377 495.766C367.48 499.501 375.435 501.474 383.385 501.474C397.981 501.474 411.775 495.043 421.229 483.83C430.613 472.698 434.578 458.055 432.108 443.651L412.173 327.415L496.623 245.096C503.521 238.372 508.274 229.892 510.368 220.575C512.311 211.931 511.883 202.886 509.133 194.418C506.38 185.951 501.409 178.382 494.756 172.531ZM471.194 219.011L377.929 309.924C374.863 312.913 373.463 317.219 374.188 321.439L396.205 449.81C397.647 458.219 390.965 465.048 383.385 465.048C381.384 465.048 379.322 464.572 377.329 463.524L262.046 402.917C260.15 401.92 258.07 401.422 255.991 401.422C253.912 401.422 251.833 401.92 249.937 402.917L134.654 463.524C132.662 464.572 130.597 465.048 128.597 465.048C121.016 465.048 114.335 458.219 115.777 449.81L137.794 321.439C138.519 317.219 137.119 312.913 134.053 309.924L40.785 219.011C33.0633 211.485 37.3242 198.372 47.9948 196.821L176.886 178.092C181.123 177.476 184.787 174.815 186.682 170.975L244.324 54.1795C246.71 49.3447 251.35 46.9272 255.991 46.9272C260.632 46.9272 265.271 49.3455 267.656 54.1795L325.298 170.975C327.194 174.814 330.856 177.476 335.094 178.092L463.985 196.821C474.656 198.372 478.916 211.485 471.194 219.011Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gYbLr2_nn0 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gzLqfToBn2"
    >
      <div 
      data-id="gzLqfToBn2"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FFBD13;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M494.756 172.531C487.584 166.223 478.755 162.157 469.223 160.772L352.515 143.813L300.322 38.0585C296.059 29.4211 289.463 22.2793 281.248 17.4079C273.627 12.8894 264.893 10.5 255.99 10.5C247.086 10.5 238.352 12.8885 230.731 17.4079C222.516 22.2793 215.921 29.4202 211.658 38.0585L159.465 143.814L42.7577 160.772C33.2249 162.157 24.3953 166.223 17.2238 172.531C10.571 178.382 5.6009 185.95 2.8493 194.418C0.0985474 202.886 -0.329158 211.931 1.61295 220.575C3.70726 229.892 8.46049 238.373 15.359 245.096L99.8092 327.415L79.8728 443.651C77.4027 458.054 81.3677 472.698 90.7517 483.83C100.205 495.043 113.999 501.474 128.596 501.474C136.545 501.474 144.501 499.501 151.604 495.766L255.991 440.887L360.377 495.766C367.48 499.501 375.435 501.474 383.385 501.474C397.981 501.474 411.775 495.043 421.229 483.83C430.613 472.698 434.578 458.055 432.108 443.651L412.173 327.415L496.623 245.096C503.521 238.372 508.274 229.892 510.368 220.575C512.311 211.931 511.883 202.886 509.133 194.418C506.38 185.951 501.409 178.382 494.756 172.531ZM471.194 219.011L377.929 309.924C374.863 312.913 373.463 317.219 374.188 321.439L396.205 449.81C397.647 458.219 390.965 465.048 383.385 465.048C381.384 465.048 379.322 464.572 377.329 463.524L262.046 402.917C260.15 401.92 258.07 401.422 255.991 401.422C253.912 401.422 251.833 401.92 249.937 402.917L134.654 463.524C132.662 464.572 130.597 465.048 128.597 465.048C121.016 465.048 114.335 458.219 115.777 449.81L137.794 321.439C138.519 317.219 137.119 312.913 134.053 309.924L40.785 219.011C33.0633 211.485 37.3242 198.372 47.9948 196.821L176.886 178.092C181.123 177.476 184.787 174.815 186.682 170.975L244.324 54.1795C246.71 49.3447 251.35 46.9272 255.991 46.9272C260.632 46.9272 265.271 49.3455 267.656 54.1795L325.298 170.975C327.194 174.814 330.856 177.476 335.094 178.092L463.985 196.821C474.656 198.372 478.916 211.485 471.194 219.011Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gtGqVPu5QW ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
      class="gp-leading-[0] gsUg9IfmB7"
    >
      <div 
      data-id="gsUg9IfmB7"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#E6E9EB;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M494.756 172.531C487.584 166.223 478.755 162.157 469.223 160.772L352.515 143.813L300.322 38.0585C296.059 29.4211 289.463 22.2793 281.248 17.4079C273.627 12.8894 264.893 10.5 255.99 10.5C247.086 10.5 238.352 12.8885 230.731 17.4079C222.516 22.2793 215.921 29.4202 211.658 38.0585L159.465 143.814L42.7577 160.772C33.2249 162.157 24.3953 166.223 17.2238 172.531C10.571 178.382 5.6009 185.95 2.8493 194.418C0.0985474 202.886 -0.329158 211.931 1.61295 220.575C3.70726 229.892 8.46049 238.373 15.359 245.096L99.8092 327.415L79.8728 443.651C77.4027 458.054 81.3677 472.698 90.7517 483.83C100.205 495.043 113.999 501.474 128.596 501.474C136.545 501.474 144.501 499.501 151.604 495.766L255.991 440.887L360.377 495.766C367.48 499.501 375.435 501.474 383.385 501.474C397.981 501.474 411.775 495.043 421.229 483.83C430.613 472.698 434.578 458.055 432.108 443.651L412.173 327.415L496.623 245.096C503.521 238.372 508.274 229.892 510.368 220.575C512.311 211.931 511.883 202.886 509.133 194.418C506.38 185.951 501.409 178.382 494.756 172.531ZM471.194 219.011L377.929 309.924C374.863 312.913 373.463 317.219 374.188 321.439L396.205 449.81C397.647 458.219 390.965 465.048 383.385 465.048C381.384 465.048 379.322 464.572 377.329 463.524L262.046 402.917C260.15 401.92 258.07 401.422 255.991 401.422C253.912 401.422 251.833 401.92 249.937 402.917L134.654 463.524C132.662 464.572 130.597 465.048 128.597 465.048C121.016 465.048 114.335 458.219 115.777 449.81L137.794 321.439C138.519 317.219 137.119 312.913 134.053 309.924L40.785 219.011C33.0633 211.485 37.3242 198.372 47.9948 196.821L176.886 178.092C181.123 177.476 184.787 174.815 186.682 170.975L244.324 54.1795C246.71 49.3447 251.35 46.9272 255.991 46.9272C260.632 46.9272 265.271 49.3455 267.656 54.1795L325.298 170.975C327.194 174.814 330.856 177.476 335.094 178.092L463.985 196.821C474.656 198.372 478.916 211.485 471.194 219.011Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gV3TTMw5KY gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gXlf9CLBUw">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gXlf9CLBUw "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#3B3B3B;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggXlf9CLBUw_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gnsRlswju9">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gnsRlswju9 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--mb:var(--g-s-2xl);--mb-mobile:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#6B6E74;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggnsRlswju9_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    