
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-605214507559617195.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-605214507559617195.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-605214507559617195.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-605214507559617195.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-605214507559617195.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-605214507559617195.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-605214507559617195.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-605214507559617195.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-605214507559617195.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-605214507559617195.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-605214507559617195.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-605214507559617195.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-605214507559617195.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-605214507559617195.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-605214507559617195.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-605214507559617195.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-605214507559617195.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-605214507559617195.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-605214507559617195.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-605214507559617195.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-605214507559617195.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-605214507559617195.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-605214507559617195.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-605214507559617195.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-605214507559617195.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-605214507559617195.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-605214507559617195.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-605214507559617195.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-605214507559617195.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-605214507559617195.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-605214507559617195.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-605214507559617195.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-605214507559617195.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-605214507559617195.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-605214507559617195.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-605214507559617195.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-605214507559617195.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-605214507559617195.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-605214507559617195.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-605214507559617195.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-605214507559617195.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-605214507559617195.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-605214507559617195.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-605214507559617195.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-605214507559617195.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-605214507559617195.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-605214507559617195.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-605214507559617195.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-605214507559617195.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-605214507559617195.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-605214507559617195.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-605214507559617195.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-605214507559617195.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-605214507559617195.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-605214507559617195.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-605214507559617195.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-605214507559617195.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-605214507559617195.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-605214507559617195.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-605214507559617195.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-605214507559617195.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-605214507559617195.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-605214507559617195.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-605214507559617195.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-605214507559617195.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-605214507559617195.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-605214507559617195.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-605214507559617195.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-605214507559617195.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-605214507559617195.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-605214507559617195.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-605214507559617195.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-605214507559617195.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-605214507559617195.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-605214507559617195.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-605214507559617195.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-605214507559617195.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-605214507559617195.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-605214507559617195.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-605214507559617195.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-605214507559617195.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-605214507559617195.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-605214507559617195.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-605214507559617195.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-605214507559617195.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-605214507559617195.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-605214507559617195.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-605214507559617195.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-605214507559617195.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-605214507559617195.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-605214507559617195.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-605214507559617195.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-605214507559617195.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-605214507559617195.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-605214507559617195.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-605214507559617195.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-605214507559617195.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-605214507559617195.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-605214507559617195.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-605214507559617195.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-605214507559617195.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-605214507559617195.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-605214507559617195.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-605214507559617195.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-605214507559617195.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-605214507559617195.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-605214507559617195.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-605214507559617195.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-605214507559617195.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-605214507559617195.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-605214507559617195.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-605214507559617195.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-605214507559617195.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-605214507559617195.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-605214507559617195.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-605214507559617195.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-605214507559617195.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-605214507559617195.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-605214507559617195 .gp-rotate-0,.gps-605214507559617195 .gp-rotate-180,.gps-605214507559617195 .group-hover\/hero\:gp-scale-\[var\(--scale\)\],.gps-605214507559617195 .mobile\:gp-rotate-0,.gps-605214507559617195 .mobile\:gp-rotate-180,.gps-605214507559617195 .tablet\:gp-rotate-0,.gps-605214507559617195 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-605214507559617195 .gp-invisible{visibility:hidden}.gps-605214507559617195 .gp-static{position:static}.gps-605214507559617195 .\!gp-absolute{position:absolute!important}.gps-605214507559617195 .gp-absolute{position:absolute}.gps-605214507559617195 .gp-relative{position:relative}.gps-605214507559617195 .gp-inset-0{inset:0}.gps-605214507559617195 .gp-left-0{left:0}.gps-605214507559617195 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-605214507559617195 .gp-right-0{right:0}.gps-605214507559617195 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-605214507559617195 .-gp-z-1{z-index:-1}.gps-605214507559617195 .gp-z-1{z-index:1}.gps-605214507559617195 .gp-z-2{z-index:2}.gps-605214507559617195 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-605214507559617195 .gp-my-0{margin-bottom:0;margin-top:0}.gps-605214507559617195 .gp-mb-0{margin-bottom:0}.gps-605214507559617195 .gp-block{display:block}.gps-605214507559617195 .gp-inline-block{display:inline-block}.gps-605214507559617195 .\!gp-flex{display:flex!important}.gps-605214507559617195 .gp-flex{display:flex}.gps-605214507559617195 .gp-inline-flex{display:inline-flex}.gps-605214507559617195 .gp-grid{display:grid}.gps-605214507559617195 .gp-contents{display:contents}.gps-605214507559617195 .\!gp-hidden{display:none!important}.gps-605214507559617195 .gp-hidden{display:none}.gps-605214507559617195 .gp-h-auto{height:auto}.gps-605214507559617195 .gp-h-full{height:100%}.gps-605214507559617195 .\!gp-min-h-full{min-height:100%!important}.gps-605214507559617195 .gp-w-full{width:100%}.gps-605214507559617195 .\!gp-max-w-none{max-width:none!important}.gps-605214507559617195 .gp-max-w-full{max-width:100%}.gps-605214507559617195 .gp-flex-1{flex:1 1 0%}.gps-605214507559617195 .gp-flex-none{flex:none}.gps-605214507559617195 .gp-shrink-0{flex-shrink:0}.gps-605214507559617195 .gp-rotate-0{--tw-rotate:0deg}.gps-605214507559617195 .gp-rotate-0,.gps-605214507559617195 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-605214507559617195 .gp-rotate-180{--tw-rotate:180deg}.gps-605214507559617195 .gp-cursor-pointer{cursor:pointer}.gps-605214507559617195 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-605214507559617195 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-605214507559617195 .\!gp-flex-row{flex-direction:row!important}.gps-605214507559617195 .gp-flex-row{flex-direction:row}.gps-605214507559617195 .gp-flex-col{flex-direction:column}.gps-605214507559617195 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-605214507559617195 .gp-content-start{align-content:flex-start}.gps-605214507559617195 .\!gp-content-stretch{align-content:stretch!important}.gps-605214507559617195 .gp-items-center{align-items:center}.gps-605214507559617195 .gp-justify-center{justify-content:center}.gps-605214507559617195 .gp-justify-between{justify-content:space-between}.gps-605214507559617195 .gp-gap-2{gap:8px}.gps-605214507559617195 .gp-self-center{align-self:center}.gps-605214507559617195 .gp-overflow-hidden{overflow:hidden}.gps-605214507559617195 .gp-text-center{text-align:center}.gps-605214507559617195 .gp-leading-\[0\]{line-height:0}.gps-605214507559617195 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-605214507559617195 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity,1))}.gps-605214507559617195 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-605214507559617195 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-605214507559617195 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-605214507559617195 .gp-duration-200{transition-duration:.2s}.gps-605214507559617195 .gp-duration-300{transition-duration:.3s}.gps-605214507559617195 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-605214507559617195 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-605214507559617195 .before\:gp-left-0:before{content:var(--tw-content);left:0}.gps-605214507559617195 .before\:gp-top-0:before{content:var(--tw-content);top:0}@media (hover:hover) and (pointer:fine){.gps-605214507559617195 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-605214507559617195 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-605214507559617195 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-605214507559617195 .tablet\:gp-static{position:static}.gps-605214507559617195 .tablet\:\!gp-absolute{position:absolute!important}.gps-605214507559617195 .tablet\:\!gp-relative{position:relative!important}.gps-605214507559617195 .tablet\:gp-left-0{left:0}.gps-605214507559617195 .tablet\:gp-right-0{right:0}.gps-605214507559617195 .tablet\:gp-z-2{z-index:2}.gps-605214507559617195 .tablet\:gp-block{display:block}.gps-605214507559617195 .tablet\:\!gp-flex{display:flex!important}.gps-605214507559617195 .tablet\:\!gp-hidden{display:none!important}.gps-605214507559617195 .tablet\:gp-hidden{display:none}.gps-605214507559617195 .tablet\:gp-h-auto{height:auto}.gps-605214507559617195 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-605214507559617195 .tablet\:gp-flex-none{flex:none}.gps-605214507559617195 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-605214507559617195 .tablet\:gp-rotate-0,.gps-605214507559617195 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-605214507559617195 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-605214507559617195 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-605214507559617195 .tablet\:gp-flex-row{flex-direction:row}.gps-605214507559617195 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-605214507559617195 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-605214507559617195 .tablet\:gp-justify-center{justify-content:center}.gps-605214507559617195 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-605214507559617195 .mobile\:gp-static{position:static}.gps-605214507559617195 .mobile\:\!gp-absolute{position:absolute!important}.gps-605214507559617195 .mobile\:\!gp-relative{position:relative!important}.gps-605214507559617195 .mobile\:gp-left-0{left:0}.gps-605214507559617195 .mobile\:gp-right-0{right:0}.gps-605214507559617195 .mobile\:gp-z-2{z-index:2}.gps-605214507559617195 .mobile\:gp-block{display:block}.gps-605214507559617195 .mobile\:\!gp-flex{display:flex!important}.gps-605214507559617195 .mobile\:\!gp-hidden{display:none!important}.gps-605214507559617195 .mobile\:gp-hidden{display:none}.gps-605214507559617195 .mobile\:\!gp-h-auto{height:auto!important}.gps-605214507559617195 .mobile\:gp-h-auto{height:auto}.gps-605214507559617195 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-605214507559617195 .mobile\:gp-flex-none{flex:none}.gps-605214507559617195 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-605214507559617195 .mobile\:gp-rotate-0,.gps-605214507559617195 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-605214507559617195 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-605214507559617195 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-605214507559617195 .mobile\:gp-flex-row{flex-direction:row}.gps-605214507559617195 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-605214507559617195 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-605214507559617195 .mobile\:gp-justify-center{justify-content:center}.gps-605214507559617195 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-605214507559617195 .\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}@media (max-width:1024px){.gps-605214507559617195 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-605214507559617195 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-605214507559617195 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-605214507559617195 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-605214507559617195 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-605214507559617195 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1024px){.gps-605214507559617195 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-605214507559617195 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-605214507559617195 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FCFAF7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"glqcJr7jvA"}' data-id="glqcJr7jvA" id="glqcJr7jvA" data-same-height-subgrid-container class="glqcJr7jvA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:60px;--pb:16px;--pr:60px;--pt-mobile:var(--g-s-2xl);--pl-mobile:15px;--pb-mobile:14px;--pr-mobile:15px;--pt-tablet:0px;--pl-tablet:60px;--pb-tablet:16px;--pr-tablet:60px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FCFAF7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjJj8dE46D gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1BBi8KPHs"
        class="g1BBi8KPHs"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pt:var(--g-s-xs);--pb:var(--g-s-xs);--mb-mobile:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-PlayfairDisplay-VariableFont_wght, 'PlayfairDisplay-VariableFont_wght'), var(--g-font-heading, heading);--size:33px;--size-tablet:48px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1BBi8KPHs_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gIsr85gJo-"}' data-id="gIsr85gJo-" id="gIsr85gJo-" data-same-height-subgrid-container class="gIsr85gJo- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:2px;--mb-mobile:12px;--cg:32px;--cg-mobile:21px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:290px;--w-tablet:290px;--w-mobile:277px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMeNwE0vzE gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0V732247n"
        class="g0V732247n"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:2px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:28px;--size-tablet:28px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0V732247n_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g0V732247n">
        .g0V732247n {

}
.g0V732247n p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwtqw7lZTK"
        class="gwtqw7lZTK"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwtqw7lZTK_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gwtqw7lZTK">
        .gwtqw7lZTK {

}
.gwtqw7lZTK p {

}
      </style>
    
    <div
      role="presentation"
      data-id="g-XNw2GODx"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--mb-mobile:8px;--mb-tablet:10px;--ta:center"
      class="gp-group/image gp-relative force-publish-1770265572365 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g-XNw2GODx"
    >
      <a
        href="https://www.instagram.com/lborawear/" target="_self" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-e029eb94-a983-4de1-9bfa-5068c187a9f0_768x.svg?v=1715754154" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTEiIGhlaWdodD0iOTEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTkxLTkxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5MSIgaGVpZ2h0PSI5MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTEiIGhlaWdodD0iOTEiIGZpbGw9InVybCgjZy05MS05MSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTkxIiB0bz0iOTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-e029eb94-a983-4de1-9bfa-5068c187a9f0_1024x.svg?v=1715754154" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTEiIGhlaWdodD0iOTEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTkxLTkxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5MSIgaGVpZ2h0PSI5MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTEiIGhlaWdodD0iOTEiIGZpbGw9InVybCgjZy05MS05MSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTkxIiB0bz0iOTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-e029eb94-a983-4de1-9bfa-5068c187a9f0.svg?v=1715754154" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTEiIGhlaWdodD0iOTEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTkxLTkxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5MSIgaGVpZ2h0PSI5MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTEiIGhlaWdodD0iOTEiIGZpbGw9InVybCgjZy05MS05MSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTkxIiB0bz0iOTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-e029eb94-a983-4de1-9bfa-5068c187a9f0.svg?v=1715754154"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:90px;--w-tablet:90px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </a>
    </div>
  
      <style id="custom-css-g-XNw2GODx">
        .g-XNw2GODx {

}
.g-XNw2GODx > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyc5cLqYZR"
        class="gyc5cLqYZR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyc5cLqYZR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gyc5cLqYZR">
        .gyc5cLqYZR {

}
.gyc5cLqYZR p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g-aqZd483z gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEHQIVr82y"
        class="gEHQIVr82y"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:2px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:28px;--size-tablet:28px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEHQIVr82y_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gEHQIVr82y">
        .gEHQIVr82y {

}
.gEHQIVr82y p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbZP158_Af"
        class="gbZP158_Af"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbZP158_Af_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gbZP158_Af">
        .gbZP158_Af {

}
.gbZP158_Af p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gnGIbVVJNE"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--mb-mobile:8px;--mb-tablet:10px;--ta:center"
      class="gp-group/image gp-relative force-publish-1770265572367 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gnGIbVVJNE"
    >
      <a
        href="https://www.tiktok.com/@lbora2" target="_self" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-e27f2962-e731-433f-840e-3ffa95b215f9_768x.svg?v=1715754130" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTEiIGhlaWdodD0iOTEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTkxLTkxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5MSIgaGVpZ2h0PSI5MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTEiIGhlaWdodD0iOTEiIGZpbGw9InVybCgjZy05MS05MSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTkxIiB0bz0iOTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-e27f2962-e731-433f-840e-3ffa95b215f9_1024x.svg?v=1715754130" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTEiIGhlaWdodD0iOTEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTkxLTkxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5MSIgaGVpZ2h0PSI5MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTEiIGhlaWdodD0iOTEiIGZpbGw9InVybCgjZy05MS05MSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTkxIiB0bz0iOTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-e27f2962-e731-433f-840e-3ffa95b215f9.svg?v=1715754130" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTEiIGhlaWdodD0iOTEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTkxLTkxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5MSIgaGVpZ2h0PSI5MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTEiIGhlaWdodD0iOTEiIGZpbGw9InVybCgjZy05MS05MSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTkxIiB0bz0iOTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-e27f2962-e731-433f-840e-3ffa95b215f9.svg?v=1715754130"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:90px;--w-tablet:90px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </a>
    </div>
  
      <style id="custom-css-gnGIbVVJNE">
        .gnGIbVVJNE {

}
.gnGIbVVJNE > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g029gwt4BC"
        class="g029gwt4BC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg029gwt4BC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g029gwt4BC">
        .g029gwt4BC {

}
.g029gwt4BC p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  {% render 'gp-section-605214507559617195-1', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-605214507559617195 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ipwhmw-sc/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=605214507442111147&sectionId=605214507559617195)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg1BBi8KPHs_text","label":"gg1BBi8KPHs_text","default":"Belong to Our <span style=\"color:#242424;\">Passionate</span> Community"},{"type":"html","id":"gg0V732247n_text","label":"gg0V732247n_text","default":"<p>25+</p>"},{"type":"html","id":"ggwtqw7lZTK_text","label":"ggwtqw7lZTK_text","default":"<p>Thousands of views</p>"},{"type":"html","id":"ggyc5cLqYZR_text","label":"ggyc5cLqYZR_text","default":"<p><strong>2.1k</strong> Followers</p>"},{"type":"html","id":"ggEHQIVr82y_text","label":"ggEHQIVr82y_text","default":"<p>50+</p>"},{"type":"html","id":"ggbZP158_Af_text","label":"ggbZP158_Af_text","default":"<p>Thousands of views</p>"},{"type":"html","id":"gg029gwt4BC_text","label":"gg029gwt4BC_text","default":"<p><strong>2.4k</strong> Followers</p>"},{"type":"html","id":"ggfDT_cSili_text","label":"ggfDT_cSili_text","default":"<p>@hoori_ugc</p>"},{"type":"html","id":"ggPuPaPTvZ4_text","label":"ggPuPaPTvZ4_text","default":"<p>@<a href=\"https://www.tiktok.com/@elrancherochacharero911\">elrancherochacharero911</a></p>"},{"type":"html","id":"ggfUTrXYo-e_text","label":"ggfUTrXYo-e_text","default":"<p>@aysha_huseyn</p>"},{"type":"html","id":"ggVX4Z25oN9_text","label":"ggVX4Z25oN9_text","default":"<p>@byashleylorraine</p>"},{"type":"html","id":"gghqu2oe0PW_text","label":"gghqu2oe0PW_text","default":"<p>@<a href=\"https://www.tiktok.com/@carriekujawinski\">carriekujawinski</a></p>"},{"type":"html","id":"ggSRSUPlboJ_text","label":"ggSRSUPlboJ_text","default":"<p>@olesia_stavnichuk</p>"},{"type":"html","id":"ggofPKvM5gx_text","label":"ggofPKvM5gx_text","default":"<p>@<a href=\"https://www.tiktok.com/@jess.d.neal\">jess.d.neal</a></p>"},{"type":"html","id":"ggQPF0utMwI_text","label":"ggQPF0utMwI_text","default":"<p>@connectdasriyanshi</p>"},{"type":"html","id":"gg4EtJXeHlY_text","label":"gg4EtJXeHlY_text","default":"<p>@herafery.gasimova</p>"},{"type":"html","id":"gg3mJGXJbKB_text","label":"gg3mJGXJbKB_text","default":"<p>25+</p>"},{"type":"html","id":"ggy23Q-hMsf_text","label":"ggy23Q-hMsf_text","default":"<p>Thousands of views</p>"},{"type":"html","id":"ggblKP0HZ3l_text","label":"ggblKP0HZ3l_text","default":"<p><strong>2.1k</strong> Followers</p>"},{"type":"html","id":"ggTE-QDKmuc_text","label":"ggTE-QDKmuc_text","default":"<p>50+</p>"},{"type":"html","id":"ggaK0gXHyNG_text","label":"ggaK0gXHyNG_text","default":"<p>Thousands of views</p>"},{"type":"html","id":"gglb7QMVDt2_text","label":"gglb7QMVDt2_text","default":"<p><strong>2.4k</strong> Followers</p>"},{"type":"html","id":"ggh06pFp_Eb_text","label":"ggh06pFp_Eb_text","default":"<p>@<a href=\"https://www.tiktok.com/@djkaraokelucero\">djkaraokelucero</a></p>"},{"type":"html","id":"gg80P0TKIwC_text","label":"gg80P0TKIwC_text","default":"<p>@<a href=\"https://www.tiktok.com/@mui_life_style\">mui_life_style</a></p>"},{"type":"html","id":"ggNcE0tTWsn_text","label":"ggNcE0tTWsn_text","default":"<p>@hoori_ugc</p>"},{"type":"html","id":"ggcyMmQ3REi_text","label":"ggcyMmQ3REi_text","default":"<p>@<a href=\"https://www.tiktok.com/@elrancherochacharero911\">elrancherochacharero911</a></p>"},{"type":"html","id":"ggKRsNTBQQy_text","label":"ggKRsNTBQQy_text","default":"<p>@aysha_huseyn</p>"},{"type":"html","id":"gg8w476LwG3_text","label":"gg8w476LwG3_text","default":"<p>@byashleylorraine</p>"},{"type":"html","id":"ggFxhZtVStj_text","label":"ggFxhZtVStj_text","default":"<p>@<a href=\"https://www.tiktok.com/@carriekujawinski\">carriekujawinski</a></p>"},{"type":"html","id":"ggefNnoBOHl_text","label":"ggefNnoBOHl_text","default":"<p>@olesia_stavnichuk</p>"},{"type":"html","id":"ggsquSXjzzT_text","label":"ggsquSXjzzT_text","default":"<p>@<a href=\"https://www.tiktok.com/@jess.d.neal\">jess.d.neal</a></p>"},{"type":"html","id":"ggzk6OA6wma_text","label":"ggzk6OA6wma_text","default":"<p>@connectdasriyanshi</p>"},{"type":"html","id":"ggzFpCTULO0_text","label":"ggzFpCTULO0_text","default":"<p>@herafery.gasimova</p>"},{"type":"html","id":"ggy5wuMvJYE_text","label":"ggy5wuMvJYE_text","default":"<p>@paradise_dreams2</p>"},{"type":"html","id":"ggv0W0tBf-6_text","label":"ggv0W0tBf-6_text","default":"<p>@<a href=\"https://www.tiktok.com/@djkaraokelucero\">djkaraokelucero</a></p>"},{"type":"html","id":"gganxEbTBvi_text","label":"gganxEbTBvi_text","default":"<p>@<a href=\"https://www.tiktok.com/@mui_life_style\">mui_life_style</a></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}