
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-597113695687934860.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-597113695687934860.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-597113695687934860.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-597113695687934860.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-597113695687934860.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-597113695687934860.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-597113695687934860.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-597113695687934860.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-597113695687934860.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-597113695687934860.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-597113695687934860.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-597113695687934860.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-597113695687934860.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-597113695687934860.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-597113695687934860.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-597113695687934860.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-597113695687934860.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-597113695687934860.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-597113695687934860.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-597113695687934860.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-597113695687934860.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-597113695687934860.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-597113695687934860.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-597113695687934860.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-597113695687934860.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-597113695687934860.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-597113695687934860.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-597113695687934860.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-597113695687934860.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-597113695687934860.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-597113695687934860.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-597113695687934860.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-597113695687934860.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-597113695687934860.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-597113695687934860.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-597113695687934860.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-597113695687934860.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-597113695687934860.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-597113695687934860.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-597113695687934860.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-597113695687934860.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-597113695687934860.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-597113695687934860.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-597113695687934860.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-597113695687934860.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-597113695687934860.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-597113695687934860.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-597113695687934860.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-597113695687934860.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-597113695687934860.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-597113695687934860.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-597113695687934860.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-597113695687934860.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-597113695687934860.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-597113695687934860.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-597113695687934860.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-597113695687934860.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-597113695687934860.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-597113695687934860.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-597113695687934860.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-597113695687934860.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-597113695687934860.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-597113695687934860.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-597113695687934860.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-597113695687934860.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-597113695687934860.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-597113695687934860.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-597113695687934860.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-597113695687934860.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-597113695687934860 .gp-relative{position:relative}.gps-597113695687934860 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-597113695687934860 .gp-mb-0{margin-bottom:0}.gps-597113695687934860 .gp-inline-block{display:inline-block}.gps-597113695687934860 .gp-flex{display:flex}.gps-597113695687934860 .gp-grid{display:grid}.gps-597113695687934860 .gp-contents{display:contents}.gps-597113695687934860 .\!gp-hidden{display:none!important}.gps-597113695687934860 .gp-hidden{display:none}.gps-597113695687934860 .gp-h-auto{height:auto}.gps-597113695687934860 .gp-h-full{height:100%}.gps-597113695687934860 .gp-w-full{width:100%}.gps-597113695687934860 .gp-max-w-full{max-width:100%}.gps-597113695687934860 .gp-flex-none{flex:none}.gps-597113695687934860 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-597113695687934860 .gp-flex-col{flex-direction:column}.gps-597113695687934860 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-597113695687934860 .gp-duration-200{transition-duration:.2s}.gps-597113695687934860 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-597113695687934860 .tablet\:\!gp-hidden{display:none!important}.gps-597113695687934860 .tablet\:gp-hidden{display:none}.gps-597113695687934860 .tablet\:gp-h-auto{height:auto}.gps-597113695687934860 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-597113695687934860 .mobile\:\!gp-hidden{display:none!important}.gps-597113695687934860 .mobile\:gp-hidden{display:none}.gps-597113695687934860 .mobile\:gp-h-auto{height:auto}.gps-597113695687934860 .mobile\:gp-flex-none{flex:none}}.gps-597113695687934860 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FCFAF7","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g8J4omomkQ"}' data-id="g8J4omomkQ" id="g8J4omomkQ" data-same-height-subgrid-container class="g8J4omomkQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pl:25px;--pb:var(--g-s-2xl);--pr:25px;--pt-tablet:var(--g-s-2xl);--pl-tablet:25px;--pb-tablet:var(--g-s-2xl);--pr-tablet:25px;--pt-mobile:var(--g-s-2xl);--pl-mobile:24px;--pb-mobile:var(--g-s-2xl);--pr-mobile:24px;--d:grid;--d-tablet:grid;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FCFAF7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3i7Fas-LM gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g-cB9cR16H"}' data-id="g-cB9cR16H" id="g-cB9cR16H" data-same-height-subgrid-container class="g-cB9cR16H gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:50px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMGLX9bLn3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gzPJ9oI6NA"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1765445050248 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gzPJ9oI6NA"
    >
      <a
        href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/news/the-difference-between-four-season-hats-and-fall-winter-hats" target="_self" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0700/3540/7006/files/The_Difference_Between_Four_Season_Hats_and_Fall_Winter_Hats_768x.webp?v=1765101450" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzIwIiBoZWlnaHQ9IjcyMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzIwLTcyMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzIwIiBoZWlnaHQ9IjcyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzIwIiBoZWlnaHQ9IjcyMSIgZmlsbD0idXJsKCNnLTcyMC03MjEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MjAiIHRvPSI3MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0700/3540/7006/files/The_Difference_Between_Four_Season_Hats_and_Fall_Winter_Hats_1024x.webp?v=1765101450" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzIwIiBoZWlnaHQ9IjcyMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzIwLTcyMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzIwIiBoZWlnaHQ9IjcyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzIwIiBoZWlnaHQ9IjcyMSIgZmlsbD0idXJsKCNnLTcyMC03MjEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MjAiIHRvPSI3MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0700/3540/7006/files/The_Difference_Between_Four_Season_Hats_and_Fall_Winter_Hats.webp?v=1765101450" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzIwIiBoZWlnaHQ9IjcyMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzIwLTcyMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzIwIiBoZWlnaHQ9IjcyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzIwIiBoZWlnaHQ9IjcyMSIgZmlsbD0idXJsKCNnLTcyMC03MjEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MjAiIHRvPSI3MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0700/3540/7006/files/The_Difference_Between_Four_Season_Hats_and_Fall_Winter_Hats.webp?v=1765101450"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:600px;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:15px;--bblr:15px;--bbrr:15px;--btlr:15px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </a>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gaaSZEzXw5"
        class="gaaSZEzXw5"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ff:var(--g-font-PlayfairDisplay-VariableFont_wght, 'PlayfairDisplay-VariableFont_wght'), var(--g-font-heading, heading);--size:35px;--size-tablet:24px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggaaSZEzXw5_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gL478cdaXo gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gdPdcVRpln"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1765445050250 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gdPdcVRpln"
    >
      <a
        href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/news/handcrafted-vs-machine-made-hats" target="_self" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0700/3540/7006/articles/Handcrafted_vs._Machine-Made_Hats_2_9019ef0f-5e78-48e9-96fe-50d89d89bdee_768x.webp?v=1765101682" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzMzIiBoZWlnaHQ9IjczMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzMzLTczMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzMzIiBoZWlnaHQ9IjczMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzMzIiBoZWlnaHQ9IjczMyIgZmlsbD0idXJsKCNnLTczMy03MzMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzMiIHRvPSI3MzMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0700/3540/7006/articles/Handcrafted_vs._Machine-Made_Hats_2_9019ef0f-5e78-48e9-96fe-50d89d89bdee_1024x.webp?v=1765101682" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzMzIiBoZWlnaHQ9IjczMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzMzLTczMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzMzIiBoZWlnaHQ9IjczMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzMzIiBoZWlnaHQ9IjczMyIgZmlsbD0idXJsKCNnLTczMy03MzMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzMiIHRvPSI3MzMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0700/3540/7006/articles/Handcrafted_vs._Machine-Made_Hats_2_9019ef0f-5e78-48e9-96fe-50d89d89bdee.webp?v=1765101682" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzMzIiBoZWlnaHQ9IjczMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzMzLTczMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzMzIiBoZWlnaHQ9IjczMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzMzIiBoZWlnaHQ9IjczMyIgZmlsbD0idXJsKCNnLTczMy03MzMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzMiIHRvPSI3MzMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0700/3540/7006/articles/Handcrafted_vs._Machine-Made_Hats_2_9019ef0f-5e78-48e9-96fe-50d89d89bdee.webp?v=1765101682"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:600px;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:15px;--bblr:15px;--bbrr:15px;--btlr:15px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </a>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkqXwxZrUL"
        class="gkqXwxZrUL"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ff:var(--g-font-PlayfairDisplay-VariableFont_wght, 'PlayfairDisplay-VariableFont_wght'), var(--g-font-heading, heading);--size:35px;--size-tablet:24px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkqXwxZrUL_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gTQ_WW4C-y gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gC75zVvIYi"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1765445050253 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gC75zVvIYi"
    >
      <a
        href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/news/your-cold-weather-kit-the-ultimate-guide-to-waterproofing-and-caring-for-your-luxury-felt-hat" target="_self" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0700/3540/7006/articles/Your_Cold-Weather_Kit_The_Ultimate_Guide_to_Waterproofing_and_Caring_for_Your_Luxury_Felt_Hat_768x.webp?v=1764510382" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM1IiBoZWlnaHQ9IjczNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM1LTczNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM1IiBoZWlnaHQ9IjczNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM1IiBoZWlnaHQ9IjczNSIgZmlsbD0idXJsKCNnLTczNS03MzUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzUiIHRvPSI3MzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0700/3540/7006/articles/Your_Cold-Weather_Kit_The_Ultimate_Guide_to_Waterproofing_and_Caring_for_Your_Luxury_Felt_Hat_1024x.webp?v=1764510382" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM1IiBoZWlnaHQ9IjczNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM1LTczNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM1IiBoZWlnaHQ9IjczNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM1IiBoZWlnaHQ9IjczNSIgZmlsbD0idXJsKCNnLTczNS03MzUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzUiIHRvPSI3MzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0700/3540/7006/articles/Your_Cold-Weather_Kit_The_Ultimate_Guide_to_Waterproofing_and_Caring_for_Your_Luxury_Felt_Hat.webp?v=1764510382" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM1IiBoZWlnaHQ9IjczNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM1LTczNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM1IiBoZWlnaHQ9IjczNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM1IiBoZWlnaHQ9IjczNSIgZmlsbD0idXJsKCNnLTczNS03MzUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzUiIHRvPSI3MzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0700/3540/7006/articles/Your_Cold-Weather_Kit_The_Ultimate_Guide_to_Waterproofing_and_Caring_for_Your_Luxury_Felt_Hat.webp?v=1764510382"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:600px;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:15px;--bblr:15px;--bbrr:15px;--btlr:15px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </a>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYGyTff273"
        class="gYGyTff273"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ff:var(--g-font-PlayfairDisplay-VariableFont_wght, 'PlayfairDisplay-VariableFont_wght'), var(--g-font-heading, heading);--size:35px;--size-tablet:24px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYGyTff273_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-597113695687934860 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ipwhmw-sc/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=594337781686207399&sectionId=597113695687934860)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggaaSZEzXw5_text","label":"ggaaSZEzXw5_text","default":"The Difference Between Four‑Season Hats..."},{"type":"html","id":"ggkqXwxZrUL_text","label":"ggkqXwxZrUL_text","default":"Handcrafted vs. Machine-Made Hats: What Truly..."},{"type":"html","id":"ggYGyTff273_text","label":"ggYGyTff273_text","default":"Your Cold-Weather Kit: The Ultimate Guide to..."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}