

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-561860316376335396.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-561860316376335396.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-561860316376335396.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-561860316376335396.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-561860316376335396.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-561860316376335396.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-561860316376335396.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-561860316376335396.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-561860316376335396.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-561860316376335396.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-561860316376335396.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-561860316376335396.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-561860316376335396.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-561860316376335396.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-561860316376335396.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-561860316376335396.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-561860316376335396.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-561860316376335396.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-561860316376335396.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-561860316376335396.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-561860316376335396.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-561860316376335396.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-561860316376335396.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-561860316376335396.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-561860316376335396.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-561860316376335396.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-561860316376335396.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-561860316376335396.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-561860316376335396.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-561860316376335396.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-561860316376335396.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-561860316376335396.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-561860316376335396.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-561860316376335396.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-561860316376335396.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-561860316376335396.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-561860316376335396.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-561860316376335396.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-561860316376335396.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-561860316376335396.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-561860316376335396.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-561860316376335396.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-561860316376335396.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-561860316376335396.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-561860316376335396.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-561860316376335396.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-561860316376335396.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-561860316376335396.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-561860316376335396.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-561860316376335396.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-561860316376335396.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-561860316376335396.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-561860316376335396.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-561860316376335396.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-561860316376335396.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-561860316376335396.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-561860316376335396.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-561860316376335396.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-561860316376335396.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-561860316376335396.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-561860316376335396.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-561860316376335396.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-561860316376335396.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-561860316376335396.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-561860316376335396.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-561860316376335396.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-561860316376335396.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-561860316376335396.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-561860316376335396.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-561860316376335396.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-561860316376335396.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-561860316376335396 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-561860316376335396 .gp-absolute{position:absolute}.gps-561860316376335396 .gp-relative{position:relative}.gps-561860316376335396 .gp-inset-0{inset:0}.gps-561860316376335396 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-561860316376335396 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-561860316376335396 .gp-z-1{z-index:1}.gps-561860316376335396 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-561860316376335396 .gp-mb-0{margin-bottom:0}.gps-561860316376335396 .gp-flex{display:flex}.gps-561860316376335396 .gp-grid{display:grid}.gps-561860316376335396 .\!gp-hidden{display:none!important}.gps-561860316376335396 .gp-hidden{display:none}.gps-561860316376335396 .gp-h-full{height:100%}.gps-561860316376335396 .gp-w-full{width:100%}.gps-561860316376335396 .gp-max-w-full{max-width:100%}.gps-561860316376335396 .gp-flex-col{flex-direction:column}.gps-561860316376335396 .gp-items-center{align-items:center}.gps-561860316376335396 .gp-gap-y-0{row-gap:0}.gps-561860316376335396 .gp-overflow-hidden{overflow:hidden}.gps-561860316376335396 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561860316376335396 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561860316376335396 .gp-duration-200{transition-duration:.2s}.gps-561860316376335396 .gp-duration-300{transition-duration:.3s}.gps-561860316376335396 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-561860316376335396 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-561860316376335396 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-561860316376335396 .tablet\:gp-relative{position:relative}.gps-561860316376335396 .tablet\:\!gp-hidden{display:none!important}.gps-561860316376335396 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-561860316376335396 .mobile\:gp-relative{position:relative}.gps-561860316376335396 .mobile\:\!gp-hidden{display:none!important}.gps-561860316376335396 .mobile\:gp-hidden{display:none}}.gps-561860316376335396 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-561860316376335396 .\[\&_p\]\:gp-inline p{display:inline}.gps-561860316376335396 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-561860316376335396 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gzYECgFBdU" data-id="gzYECgFBdU"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzYECgFBdU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzMdPr9iec gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_560307868822144090-81dbb3b9-2301-43dd-984d-ae65a17fb04a.png","height":600,"src":"https://cdn.shopify.com/s/files/1/0700/3540/7006/files/gempages_560307868822144090-81dbb3b9-2301-43dd-984d-ae65a17fb04a.png","width":1440,"storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_560307868822144090-81dbb3b9-2301-43dd-984d-ae65a17fb04a.png","height":600,"src":"https://cdn.shopify.com/s/files/1/0700/3540/7006/files/gempages_560307868822144090-81dbb3b9-2301-43dd-984d-ae65a17fb04a.png","width":1440,"storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_560307868822144090-165d2576-8252-4f14-9c54-a49dc74a4d87.png","height":367,"src":"https://cdn.shopify.com/s/files/1/0700/3540/7006/files/gempages_560307868822144090-165d2576-8252-4f14-9c54-a49dc74a4d87.png","width":375,"storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gDxFek37Sx","enableParallax":false,"speedParallax":0,"hoverEffect":false,"hoverEffectScale":110,"layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center-hoz"},"contentPosition2Col":{"desktop":"center-hoz"}}'
        gp-href=""
        
        class="gDxFek37Sx gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--pl:0px;--pr:0px;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gDxFek37Sx"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-undefined tablet:!gp-justify-undefined mobile:!gp-justify-undefined"
        style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_560307868822144090-165d2576-8252-4f14-9c54-a49dc74a4d87_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_560307868822144090-81dbb3b9-2301-43dd-984d-ae65a17fb04a_1024x.png" | file_url }}" />
      <img
        title
        class="adaptive-hero-banner"
        src="{{ "gempages_560307868822144090-81dbb3b9-2301-43dd-984d-ae65a17fb04a.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('{{ "gempages_560307868822144090-81dbb3b9-2301-43dd-984d-ae65a17fb04a.png" | file_url }}');--bgi-tablet:url('{{ "gempages_560307868822144090-81dbb3b9-2301-43dd-984d-ae65a17fb04a_1024x.png" | file_url }}');--bgi-mobile:url('{{ "gempages_560307868822144090-165d2576-8252-4f14-9c54-a49dc74a4d87_768x.png" | file_url }}');--duration:0.5s;--scale:110;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--pl:15px;--pr:15px;--pt:32px;--pb:32px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:1200px;--w-mobile:1200px"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNPmiqVifU gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTM3jy3afW">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gTM3jy3afW "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:226px;--mb:var(--g-s-xl);--mt-mobile:112px;--mb-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggTM3jy3afW_text | replace: '$locationOrigin', locationOrigin }}</h1>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gvP3Hp9zK5" data-id="gvP3Hp9zK5"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:226px;--mb-mobile:112px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:570px;--w-tablet:570px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvP3Hp9zK5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWjO61fjpH gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gtP-f6STGQ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gtP-f6STGQ "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggtP-f6STGQ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-561860316376335396 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ipwhmw-sc/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=561860298558932004&sectionId=561860316376335396)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggTM3jy3afW_text","label":"ggTM3jy3afW_text","default":"<p>Contact Us&nbsp;</p>"},{"type":"html","id":"ggtP-f6STGQ_text","label":"ggtP-f6STGQ_text","default":"<p>Due to high volume of orders and interactions, it may take longer for you to respond. We are working diligently during this critical time and we appreciate your patience.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
