

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-561864301283902444.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-561864301283902444.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-561864301283902444.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-561864301283902444.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-561864301283902444.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-561864301283902444.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-561864301283902444.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-561864301283902444.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-561864301283902444.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-561864301283902444.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-561864301283902444.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-561864301283902444.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-561864301283902444.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-561864301283902444.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-561864301283902444.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-561864301283902444.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-561864301283902444.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-561864301283902444.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-561864301283902444.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-561864301283902444.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-561864301283902444.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-561864301283902444.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-561864301283902444.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-561864301283902444.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-561864301283902444.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-561864301283902444.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-561864301283902444.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-561864301283902444.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-561864301283902444.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-561864301283902444.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-561864301283902444.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-561864301283902444.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-561864301283902444.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-561864301283902444.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-561864301283902444.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-561864301283902444.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-561864301283902444.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-561864301283902444.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-561864301283902444.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-561864301283902444.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-561864301283902444.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-561864301283902444.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-561864301283902444.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-561864301283902444.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-561864301283902444.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-561864301283902444.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-561864301283902444.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-561864301283902444.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-561864301283902444.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-561864301283902444.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-561864301283902444.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-561864301283902444.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-561864301283902444.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-561864301283902444.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-561864301283902444.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-561864301283902444.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-561864301283902444.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-561864301283902444.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-561864301283902444.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-561864301283902444 .-gp-rotate-90,.gps-561864301283902444 .gp-rotate-180,.gps-561864301283902444 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-561864301283902444 .gp-relative{position:relative}.gps-561864301283902444 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-561864301283902444 .gp-mb-0{margin-bottom:0}.gps-561864301283902444 .gp-flex{display:flex}.gps-561864301283902444 .gp-inline-flex{display:inline-flex}.gps-561864301283902444 .gp-grid{display:grid}.gps-561864301283902444 .\!gp-hidden{display:none!important}.gps-561864301283902444 .gp-hidden{display:none}.gps-561864301283902444 .gp-min-h-0{min-height:0}.gps-561864301283902444 .gp-w-full{width:100%}.gps-561864301283902444 .gp-max-w-full{max-width:100%}.gps-561864301283902444 .-gp-rotate-90{--tw-rotate:-90deg}.gps-561864301283902444 .-gp-rotate-90,.gps-561864301283902444 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-561864301283902444 .gp-rotate-180{--tw-rotate:180deg}.gps-561864301283902444 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-561864301283902444 .gp-cursor-pointer{cursor:pointer}.gps-561864301283902444 .gp-flex-col{flex-direction:column}.gps-561864301283902444 .gp-items-center{align-items:center}.gps-561864301283902444 .gp-justify-center{justify-content:center}.gps-561864301283902444 .gp-gap-y-0{row-gap:0}.gps-561864301283902444 .gp-overflow-hidden{overflow:hidden}.gps-561864301283902444 .gp-overflow-clip{overflow:clip}.gps-561864301283902444 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561864301283902444 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561864301283902444 .gp-duration-200{transition-duration:.2s}.gps-561864301283902444 .gp-duration-500{transition-duration:.5s}.gps-561864301283902444 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-561864301283902444 .tablet\:\!gp-hidden{display:none!important}.gps-561864301283902444 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-561864301283902444 .mobile\:\!gp-hidden{display:none!important}.gps-561864301283902444 .mobile\:gp-hidden{display:none}}.gps-561864301283902444 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-561864301283902444 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-561864301283902444 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-561864301283902444 .\[\&_p\]\:gp-inline p{display:inline}.gps-561864301283902444 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-561864301283902444 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g4K8HkMPnO" data-id="g4K8HkMPnO"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(undefined);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4K8HkMPnO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDi3-Ms7gI gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gTGrwcMItK" data-id="gTGrwcMItK"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTGrwcMItK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0XcKxAF7h gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-xl)" class="gLIhC_TFil ">
      
    <gp-accordion
      data-id="gLIhC_TFil"
     uid="gLIhC_TFil"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:var(--g-s-xl);border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":"0","expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gLIhC_TFil","childListNumber":[],"chidlrenUid":["guu7SscHve","gdG5TBih73"]},"styles":{"bgColor":{"normal":"transparent"},"color":{"normal":"#242424"},"headerBorder":{"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"24px","vertical":"16px"}}},"textColor":{"active":"#121212","hover":"#121212","normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"var(--g-s-xl)","padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}},"mobile":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}},"tablet":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"gLIhC_TFil"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE">
    <div
      data-index="0"
      class="gLIhC_TFil gp-accordion-item gp-overflow-hidden gp-child-item-gLIhC_TFil"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="guu7SscHve"
        id="guu7SscHve"
        data-index="0"
        class="gLIhC_TFil gp-accordion-item-gLIhC_TFil-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-c:#121212;--c:#242424;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
       <style class="accordion-style">.gp-accordion-item-gLIhC_TFil-0:hover 
      {
        .gp-collapsible-icon { 
          color: undefined !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--c:#242424;width:16px;height:16px"
            data-index="0"
            class="gLIhC_TFil gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggLIhC_TFil_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="guu7SscHve"
        data-index="0"
        data-show="false"
        class="gLIhC_TFil gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="guu7SscHve"
        data-index="0"
        class="gLIhC_TFil gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gdZh6UN5ef gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gC5BEHs1fy">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gC5BEHs1fy "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggC5BEHs1fy_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE">
    <div
      data-index="1"
      class="gLIhC_TFil gp-accordion-item gp-overflow-hidden gp-child-item-gLIhC_TFil"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gdG5TBih73"
        id="gdG5TBih73"
        data-index="1"
        class="gLIhC_TFil gp-accordion-item-gLIhC_TFil-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-c:#121212;--c:#242424;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
       <style class="accordion-style">.gp-accordion-item-gLIhC_TFil-1:hover 
      {
        .gp-collapsible-icon { 
          color: undefined !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--c:#242424;width:16px;height:16px"
            data-index="1"
            class="gLIhC_TFil gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggLIhC_TFil_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gdG5TBih73"
        data-index="1"
        data-show="false"
        class="gLIhC_TFil gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gdG5TBih73"
        data-index="1"
        class="gLIhC_TFil gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gYAwTKYF7i gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g9Xj1XzVRN">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g9Xj1XzVRN "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg9Xj1XzVRN_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gou7C9ySOD gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gxDzFvGzqB ">
      
    <gp-accordion
      data-id="gxDzFvGzqB"
     uid="gxDzFvGzqB"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:var(--g-s-l);border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":"0","expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gxDzFvGzqB","childListNumber":[],"chidlrenUid":["g9q2GDg-5g","gINm6zmSek","gnDqLePMx5"]},"styles":{"bgColor":{"normal":"transparent"},"color":{"active":"#242424","hover":"#242424","normal":"#575757"},"headerBorder":{"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"24px","vertical":"16px"}}},"textColor":{"active":"#242424","hover":"#242424","normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"var(--g-s-l)","padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}},"mobile":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}},"tablet":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"gxDzFvGzqB"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE">
    <div
      data-index="0"
      class="gxDzFvGzqB gp-accordion-item gp-overflow-hidden gp-child-item-gxDzFvGzqB"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g9q2GDg-5g"
        id="g9q2GDg-5g"
        data-index="0"
        class="gxDzFvGzqB gp-accordion-item-gxDzFvGzqB-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
       <style class="accordion-style">.gp-accordion-item-gxDzFvGzqB-0:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#575757;width:16px;height:16px"
            data-index="0"
            class="gxDzFvGzqB gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggxDzFvGzqB_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g9q2GDg-5g"
        data-index="0"
        data-show="false"
        class="gxDzFvGzqB gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g9q2GDg-5g"
        data-index="0"
        class="gxDzFvGzqB gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gK2WyrKuqF gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gjKRrIfuuT">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gjKRrIfuuT "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggjKRrIfuuT_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE">
    <div
      data-index="1"
      class="gxDzFvGzqB gp-accordion-item gp-overflow-hidden gp-child-item-gxDzFvGzqB"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gINm6zmSek"
        id="gINm6zmSek"
        data-index="1"
        class="gxDzFvGzqB gp-accordion-item-gxDzFvGzqB-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
       <style class="accordion-style">.gp-accordion-item-gxDzFvGzqB-1:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#575757;width:16px;height:16px"
            data-index="1"
            class="gxDzFvGzqB gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggxDzFvGzqB_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gINm6zmSek"
        data-index="1"
        data-show="false"
        class="gxDzFvGzqB gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gINm6zmSek"
        data-index="1"
        class="gxDzFvGzqB gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gvPVJ62YeA gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gA2FjxJ1lF">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gA2FjxJ1lF "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggA2FjxJ1lF_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE">
    <div
      data-index="2"
      class="gxDzFvGzqB gp-accordion-item gp-overflow-hidden gp-child-item-gxDzFvGzqB"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gnDqLePMx5"
        id="gnDqLePMx5"
        data-index="2"
        class="gxDzFvGzqB gp-accordion-item-gxDzFvGzqB-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
       <style class="accordion-style">.gp-accordion-item-gxDzFvGzqB-2:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#575757;width:16px;height:16px"
            data-index="2"
            class="gxDzFvGzqB gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggxDzFvGzqB_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gnDqLePMx5"
        data-index="2"
        data-show="false"
        class="gxDzFvGzqB gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gnDqLePMx5"
        data-index="2"
        class="gxDzFvGzqB gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="g6W7cVT09w gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gofMCCZafy">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gofMCCZafy "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggofMCCZafy_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-561864301283902444 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ipwhmw-sc/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=561864286184407969&sectionId=561864301283902444)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggLIhC_TFil_childItem_0","label":"ggLIhC_TFil_childItem_0","default":"Is it free shipping? "},{"type":"html","id":"ggLIhC_TFil_childItem_1","label":"ggLIhC_TFil_childItem_1","default":"How long does it take to receive my order?"},{"type":"html","id":"ggC5BEHs1fy_text","label":"ggC5BEHs1fy_text","default":"<p>Yes! We offer free shipping on our 'limited time flash deal' (Main Campaign page) with the minimum amount purchased (usually 2 bottles or more - unless otherwise stated). Daily 'limited time flash deal' offers can not be combined with any other wine from any other page. Only one or more bottles of wine listed on our Premium, Last Chance or Cellar offerings can be combined for free shipping.</p>"},{"type":"html","id":"gg9Xj1XzVRN_text","label":"gg9Xj1XzVRN_text","default":"<p>Orders will be processed within 1-2 business days (Monday to Friday, excluding holidays). If your order contains any Archives item(s), please allow an additional 2-3 business days to process. Archives items will be shipped separately from regular items</p>"},{"type":"html","id":"ggxDzFvGzqB_childItem_0","label":"ggxDzFvGzqB_childItem_0","default":"How will my order be shipped?"},{"type":"html","id":"ggxDzFvGzqB_childItem_1","label":"ggxDzFvGzqB_childItem_1","default":"What are your shipping costs?"},{"type":"html","id":"ggxDzFvGzqB_childItem_2","label":"ggxDzFvGzqB_childItem_2","default":"My order has already been shipped but I need to update the address. What should I do?"},{"type":"html","id":"ggjKRrIfuuT_text","label":"ggjKRrIfuuT_text","default":"<p>Your order will be shipped by one of these courier services, depending on your shipping address:<br>Worldwide: FedEx, DHL<br>China: DHL, SF Express<br>Hong Kong SAR: Local Express Courier, SF Express<br>Macau SAR: SF Express<br>Japan: FedEx, Sagawa, Yamato<br>Korea: FedEx, Lotte<br>Singapore: FedEx, Crane</p>"},{"type":"html","id":"ggA2FjxJ1lF_text","label":"ggA2FjxJ1lF_text","default":"<p>Our shipping costs differ depending on where the order is shipping to and how fast it’s getting there.<br><br>Our shipping costs differ depending on where the order is shipping to and how fast it’s getting there. You can check out our&nbsp;<br>delivery options table.</p>"},{"type":"html","id":"ggofMCCZafy_text","label":"ggofMCCZafy_text","default":"<p>Please contact us as soon as possible if you need to change your address.<br><br>Please contact us as soon as possible if you need to change your address. Keep in mind that a rerouting fee may be charged by the courier to change your address.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
