

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-568858089999041516.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-568858089999041516.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-568858089999041516.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-568858089999041516.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-568858089999041516.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-568858089999041516.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-568858089999041516.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-568858089999041516.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-568858089999041516.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-568858089999041516.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-568858089999041516.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-568858089999041516.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-568858089999041516.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-568858089999041516.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-568858089999041516.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-568858089999041516.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-568858089999041516.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-568858089999041516.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-568858089999041516.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-568858089999041516.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-568858089999041516.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-568858089999041516.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-568858089999041516.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-568858089999041516.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-568858089999041516.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-568858089999041516.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-568858089999041516.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-568858089999041516.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-568858089999041516.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-568858089999041516.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-568858089999041516.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-568858089999041516.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-568858089999041516.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-568858089999041516.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-568858089999041516.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-568858089999041516.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-568858089999041516.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-568858089999041516.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-568858089999041516.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-568858089999041516.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-568858089999041516.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-568858089999041516.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-568858089999041516.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-568858089999041516.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-568858089999041516.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-568858089999041516.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-568858089999041516.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-568858089999041516.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-568858089999041516.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-568858089999041516.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-568858089999041516.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-568858089999041516.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-568858089999041516.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-568858089999041516.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-568858089999041516.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-568858089999041516.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-568858089999041516.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-568858089999041516.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-568858089999041516.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-568858089999041516.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-568858089999041516.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-568858089999041516.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-568858089999041516.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-568858089999041516.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-568858089999041516.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-568858089999041516.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-568858089999041516.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-568858089999041516.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-568858089999041516.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-568858089999041516.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-568858089999041516.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-568858089999041516.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-568858089999041516.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-568858089999041516.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-568858089999041516.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-568858089999041516.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-568858089999041516.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-568858089999041516.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-568858089999041516.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-568858089999041516.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-568858089999041516.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-568858089999041516.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-568858089999041516.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-568858089999041516.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-568858089999041516.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-568858089999041516.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-568858089999041516.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-568858089999041516.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-568858089999041516.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-568858089999041516.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-568858089999041516.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-568858089999041516.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-568858089999041516.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-568858089999041516.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-568858089999041516 .gp-absolute{position:absolute}.gps-568858089999041516 .gp-relative{position:relative}.gps-568858089999041516 .gp-inset-0{inset:0}.gps-568858089999041516 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-568858089999041516 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-568858089999041516 .gp-z-1{z-index:1}.gps-568858089999041516 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-568858089999041516 .gp-mb-0{margin-bottom:0}.gps-568858089999041516 .gp-flex{display:flex}.gps-568858089999041516 .gp-inline-flex{display:inline-flex}.gps-568858089999041516 .gp-grid{display:grid}.gps-568858089999041516 .\!gp-hidden{display:none!important}.gps-568858089999041516 .gp-hidden{display:none}.gps-568858089999041516 .gp-h-full{height:100%}.gps-568858089999041516 .gp-w-full{width:100%}.gps-568858089999041516 .gp-max-w-full{max-width:100%}.gps-568858089999041516 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-568858089999041516 .gp-flex-col{flex-direction:column}.gps-568858089999041516 .gp-items-center{align-items:center}.gps-568858089999041516 .\!gp-justify-end{justify-content:flex-end!important}.gps-568858089999041516 .gp-justify-center{justify-content:center}.gps-568858089999041516 .gp-gap-y-0{row-gap:0}.gps-568858089999041516 .gp-overflow-hidden{overflow:hidden}.gps-568858089999041516 .gp-break-words{overflow-wrap:break-word}.gps-568858089999041516 .gp-rounded-none{border-radius:0}.gps-568858089999041516 .gp-text-center{text-align:center}.gps-568858089999041516 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-568858089999041516 .gp-no-underline{text-decoration-line:none}.gps-568858089999041516 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568858089999041516 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568858089999041516 .gp-duration-200{transition-duration:.2s}.gps-568858089999041516 .gp-duration-300{transition-duration:.3s}.gps-568858089999041516 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568858089999041516 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-568858089999041516 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-568858089999041516 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-568858089999041516 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-568858089999041516 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}.gps-568858089999041516 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-568858089999041516 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-568858089999041516 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-568858089999041516 .tablet\:gp-relative{position:relative}.gps-568858089999041516 .tablet\:\!gp-hidden{display:none!important}.gps-568858089999041516 .tablet\:gp-hidden{display:none}.gps-568858089999041516 .tablet\:\!gp-justify-end{justify-content:flex-end!important}}@media (max-width:767px){.gps-568858089999041516 .mobile\:gp-relative{position:relative}.gps-568858089999041516 .mobile\:\!gp-hidden{display:none!important}.gps-568858089999041516 .mobile\:gp-hidden{display:none}.gps-568858089999041516 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-568858089999041516 .mobile\:\!gp-justify-end{justify-content:flex-end!important}}@media (max-width:1024px){.gps-568858089999041516 .tablet\:\[\&\>\*\>\*\]\:\!gp-justify-end>*>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-568858089999041516 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-568858089999041516 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-568858089999041516 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gT2-2lZus-" data-id="gT2-2lZus-"
        style="--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gT2-2lZus- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    
       
      
    <div
      label="Row" tag="Row" type="component" order justifyContent id="ghPpNLkJBO" data-id="ghPpNLkJBO"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghPpNLkJBO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVspZQga5n gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:700px;--h-tablet:700px;--h-mobile:695px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:0px;--mb-mobile:0px">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0700/3540/7006/files/gempages_560307868822144090-531692bf-36df-4cac-bc52-87bbe620d030.png","width":1920,"height":800,"backupFileKey":"gempages_560307868822144090-531692bf-36df-4cac-bc52-87bbe620d030.png","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0700/3540/7006/files/gempages_560307868822144090-1adfcfb0-691c-481d-9986-2d20b321018f.png","width":1024,"height":500,"backupFileKey":"gempages_560307868822144090-1adfcfb0-691c-481d-9986-2d20b321018f.png","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0700/3540/7006/files/gempages_560307868822144090-63b93711-a3ff-4e6e-aeb5-83d4052b3283.png","width":720,"height":800,"backupFileKey":"gempages_560307868822144090-63b93711-a3ff-4e6e-aeb5-83d4052b3283.png","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"g0yahacjg1","enableParallax":false,"speedParallax":0,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[3,9],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom","mobile":"bottom"},"contentPosition2Col":{"desktop":"bottom","tablet":"bottom"}}'
        gp-href=""
        
        class="g0yahacjg1 gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bs-mobile:none;--bw:0px;--bw-mobile:1px 1px 1px 1px;--bc:#121212;--bc-mobile:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--pl:0px;--pb:0px;--pr:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pos-mobile:sticky;--top-mobile:0px;--h:700px;--h-tablet:700px;--h-mobile:695px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="g0yahacjg1"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:700px;--h-tablet:700px;--h-mobile:695px;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_560307868822144090-63b93711-a3ff-4e6e-aeb5-83d4052b3283.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_560307868822144090-1adfcfb0-691c-481d-9986-2d20b321018f.png" | file_url }}" />
      <img
        title
        class="adaptive-hero-banner"
        src="{{ "gempages_560307868822144090-531692bf-36df-4cac-bc52-87bbe620d030.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:700px;--h-tablet:700px;--h-mobile:695px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgi:url({{ "gempages_560307868822144090-531692bf-36df-4cac-bc52-87bbe620d030.png" | file_url }});--bgi-tablet:url({{ "gempages_560307868822144090-1adfcfb0-691c-481d-9986-2d20b321018f.png" | file_url }});--bgi-mobile:url({{ "gempages_560307868822144090-63b93711-a3ff-4e6e-aeb5-83d4052b3283.png" | file_url }});--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 3fr) minmax(0, 9fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-end mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-tablet:end;--o:0;--o-mobile:0"
      class="g7mcoZ1Ql9 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gAK2gZlLBy" data-id="gAK2gZlLBy"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-3xl);--pl:15px;--pr:15px;--mb-mobile:var(--g-s-4xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAK2gZlLBy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSkHM9CtZR gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="--pos:relative;--pos-mobile:relative">
  <div
    style="--bs:solid;--bs-mobile:none;--bw:0px;--bw-mobile:1px 1px 1px 1px;--bc:#121212;--bc-mobile:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--mt:0px;--pt:0px;--mb-mobile:0px;--ta:left;--ta-tablet:left"
    
  >
    <style>
    .gvrPo1tSMG.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    .gvrPo1tSMG:hover::before {
      
      
    }

    .gvrPo1tSMG:hover .gp-button-icon {
      color: undefined;
    }

     .gvrPo1tSMG .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gvrPo1tSMG:hover .gp-button-price {
      color: undefined;
    }

    .gvrPo1tSMG .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gvrPo1tSMG .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gvrPo1tSMG:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gvrPo1tSMG" aria-label="<p><span style='font-size:25px;'>SHOP NOW</span></p>"
      
      data-state="idle"
      class="gvrPo1tSMG gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#FF871D;--bg:#242424;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--pl:120px;--pr:120px;--pt:20px;--pb:20px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:0px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggvrPo1tSMG_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start;--jc-tablet:end;--o:1;--o-mobile:1;--d-mobile:none"
      class="g0en3p8QJu gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-568858089999041516 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ipwhmw-sc/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=568858079630722069&sectionId=568858089999041516)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggvrPo1tSMG_label","label":"ggvrPo1tSMG_label","default":"<p><span style=\"font-size:25px;\">SHOP NOW</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
