

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-561864301351011233.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-561864301351011233.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-561864301351011233.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-561864301351011233.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-561864301351011233.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-561864301351011233.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-561864301351011233.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-561864301351011233.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-561864301351011233.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-561864301351011233.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-561864301351011233.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-561864301351011233.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-561864301351011233.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-561864301351011233.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-561864301351011233.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-561864301351011233.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-561864301351011233.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-561864301351011233.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-561864301351011233.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-561864301351011233.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-561864301351011233.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-561864301351011233.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-561864301351011233.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-561864301351011233.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-561864301351011233.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-561864301351011233.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-561864301351011233.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-561864301351011233.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-561864301351011233.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-561864301351011233.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-561864301351011233.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-561864301351011233.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-561864301351011233.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-561864301351011233.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-561864301351011233.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-561864301351011233.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-561864301351011233.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-561864301351011233.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-561864301351011233.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-561864301351011233.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-561864301351011233.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-561864301351011233.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-561864301351011233.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-561864301351011233.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-561864301351011233.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-561864301351011233.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-561864301351011233.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-561864301351011233.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-561864301351011233.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-561864301351011233.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-561864301351011233.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-561864301351011233.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-561864301351011233.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-561864301351011233.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-561864301351011233.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-561864301351011233.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-561864301351011233.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-561864301351011233.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-561864301351011233.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-561864301351011233.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-561864301351011233.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-561864301351011233.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-561864301351011233.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-561864301351011233.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-561864301351011233.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-561864301351011233 .focus\:\!gp-shadow-none,.gps-561864301351011233 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-561864301351011233 .gp-fixed{position:fixed}.gps-561864301351011233 .gp-relative{position:relative}.gps-561864301351011233 .gp-top-\[27px\]{top:27px}.gps-561864301351011233 .gp-z-1{z-index:1}.gps-561864301351011233 .gp-z-100{z-index:100}.gps-561864301351011233 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-561864301351011233 .gp-mb-0{margin-bottom:0}.gps-561864301351011233 .gp-flex{display:flex}.gps-561864301351011233 .gp-inline-flex{display:inline-flex}.gps-561864301351011233 .gp-grid{display:grid}.gps-561864301351011233 .\!gp-hidden{display:none!important}.gps-561864301351011233 .gp-hidden{display:none}.gps-561864301351011233 .\!gp-h-auto{height:auto!important}.gps-561864301351011233 .gp-h-full{height:100%}.gps-561864301351011233 .gp-min-h-\[150px\]{min-height:150px}.gps-561864301351011233 .gp-max-w-full{max-width:100%}.gps-561864301351011233 .gp-flex-col{flex-direction:column}.gps-561864301351011233 .gp-items-center{align-items:center}.gps-561864301351011233 .gp-justify-center{justify-content:center}.gps-561864301351011233 .gp-gap-y-0{row-gap:0}.gps-561864301351011233 .gp-overflow-hidden{overflow:hidden}.gps-561864301351011233 .gp-break-words{overflow-wrap:break-word}.gps-561864301351011233 .gp-rounded{border-radius:4px}.gps-561864301351011233 .gp-rounded-none{border-radius:0}.gps-561864301351011233 .\!gp-bg-none{background-image:none!important}.gps-561864301351011233 .gp-p-\[16px\]{padding:16px}.gps-561864301351011233 .gp-text-\[14px\]{font-size:14px}.gps-561864301351011233 .gp-leading-normal{line-height:1.5}.gps-561864301351011233 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-561864301351011233 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-561864301351011233 .gp-no-underline{text-decoration-line:none}.gps-561864301351011233 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-561864301351011233 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561864301351011233 .gp-duration-200{transition-duration:.2s}.gps-561864301351011233 .gp-duration-300{transition-duration:.3s}.gps-561864301351011233 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561864301351011233 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-561864301351011233 .hover\:gp-text-g-bg-3:hover{color:var(--g-c-bg-3)}.gps-561864301351011233 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-561864301351011233 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-561864301351011233 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-561864301351011233 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-561864301351011233 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-561864301351011233 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-561864301351011233 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-561864301351011233 .tablet\:\!gp-hidden{display:none!important}.gps-561864301351011233 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-561864301351011233 .mobile\:\!gp-hidden{display:none!important}.gps-561864301351011233 .mobile\:gp-hidden{display:none}}.gps-561864301351011233 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-561864301351011233 .\[\&_p\]\:gp-inline p{display:inline}.gps-561864301351011233 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-561864301351011233 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-561864301351011233 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="goJPLz4Fla" data-id="goJPLz4Fla"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:var(undefined);--pl:15px;--pb:0px;--pr:15px;--pt-mobile:var(undefined);--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goJPLz4Fla gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gK2iTAn6hX gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gN0wBK4YC0" data-id="gN0wBK4YC0"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:0px;--pb:var(--g-s-4xl);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gN0wBK4YC0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="g3h5Js3WpM gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g4kVVp74rV">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g4kVVp74rV "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg4kVVp74rV_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcbg91Z0Sk">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gcbg91Z0Sk "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggcbg91Z0Sk_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gYtxn4Dxn4" data-id="gYtxn4Dxn4"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-4xl);--pb:var(--g-s-xl);--mt-mobile:70px;--mb-mobile:var(--g-s-xl);--cg:0px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 10fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYtxn4Dxn4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gOVSGX87It gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gnkclucD-a">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gnkclucD-a "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggnkclucD-a_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--o:1"
      class="gk1kyD6olY gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gjFl57Zxjc">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gjFl57Zxjc "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggjFl57Zxjc_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g0joNEjMT_" data-id="g0joNEjMT_"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pb:var(--g-s-xl);--cg:0px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 10fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0joNEjMT_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gUKitUFVBE gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gk3BHz9F5y">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gk3BHz9F5y "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggk3BHz9F5y_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goIZYl9SUf gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gwczXnCAA1">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gwczXnCAA1 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggwczXnCAA1_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gteHOzJ9Ps" data-id="gteHOzJ9Ps"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pb:var(--g-s-xl);--cg:0px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 10fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gteHOzJ9Ps gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gfS6u5uCUQ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gaqGUDEnoQ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gaqGUDEnoQ "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggaqGUDEnoQ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gd9l9SsZOJ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQHc9-8Ujc">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gQHc9-8Ujc "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggQHc9-8Ujc_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gFmSEY8xb2" data-id="gFmSEY8xb2"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--cg:0px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 10fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFmSEY8xb2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gBOMWQOUze gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gH2P4ywhTp">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gH2P4ywhTp "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggH2P4ywhTp_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRhQ2peWYA gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gPKbT8Xwgl">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gPKbT8Xwgl "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--pb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggPKbT8Xwgl_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glFWAooTiY gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:var(--g-s-4xl);--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:0px;--pr-tablet:0px" class="g9hk5ttNcf ">
      
    
    <gp-form
      id="g9hk5ttNcf"
      data-id="g9hk5ttNcf"
      
      data-submit-action=''
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-g9hk5ttNcf"
        href="" target=""
      >
      </a>
      {% form 'contact', class: 'gp-form-g9hk5ttNcf ', id: 'contact_form_g9hk5ttNcf' %}
        {% if form.errors %}
          <div
            id="gp-form-error-g9hk5ttNcf"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            Can’t send email. Please try again later.
          </div>
        {% endif %}
        <div popover id="my-popover-g9hk5ttNcf">
        <style>
            #my-popover-g9hk5ttNcf::backdrop {
              width: fit-content;
              height: fit-content;
            }
        </style>
        <div
          id="gp-form-success-g9hk5ttNcf"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          Thanks for contacting us. We'll get back to you as soon as possible.
        </div></div>
        
    <div
      
      
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      data-id="gxVsNxv8qN"
    >
      <input
        type="text"
        class="gp-form-item gxVsNxv8qN gp-text-g-text-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--c:var(--g-c-text-1, text-1);--pl:21px;--pr:21px;--pt:14px;--pb:14px;--tt:default;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--shadow:none"
        placeholder="{{ section.settings.ggxVsNxv8qN_placeholder }}"
        {% if false %}
        required
        {% endif %}
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    <div
    data-id="ghD9vzkMGL"
      class="ghD9vzkMGL"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--ta:left"
    >
      <input
        type="email"
        class="gp-form-item !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--pl:21px;--pr:21px;--pt:14px;--pb:14px;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--shadow:none"
        placeholder="{{ section.settings.gghD9vzkMGL_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    <div
      
      data-id="g_1z0j2ZCj"
      
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
    >
      <textarea
        class="gp-form-item g_1z0j2ZCj gp-text-g-text-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none gp-min-h-[150px]"
        style="--c:var(--g-c-text-1, text-1);--pl:21px;--pr:21px;--pt:14px;--pb:14px;--tt:default;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%"
        placeholder="{{ section.settings.gg_1z0j2ZCj_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[note]"
        value=""
      ></textarea>
    </div>
  
    
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--ta:left"
    
  >
    <style>
    .g1sQ_qmMst.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g1sQ_qmMst:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-text-1, text-1);
  
      
    }

    .g1sQ_qmMst:hover .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

     .g1sQ_qmMst .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

    .g1sQ_qmMst:hover .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .g1sQ_qmMst .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .g1sQ_qmMst .gp-product-dot-price {
       color: var(--g-c-bg-3, bg-3);
    }

    .g1sQ_qmMst:hover .gp-product-dot-price {
      color: var(--g-c-bg-3, bg-3);
    }
  </style>
    <button
      type="submit" data-id="g1sQ_qmMst" aria-label="Submit"
      
      data-state="idle"
      class="g1sQ_qmMst gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-text-g-bg-3 gp-text-g-bg-3"
      style="--hvr-bg:#424242;--bg:#242424;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:12px;--pb-mobile:12px;--hvr-c:var(--g-c-bg-3, bg-3);--c:var(--g-c-bg-3, bg-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:var(--g-c-bg-3, bg-3);--c:var(--g-c-bg-3, bg-3)"
      >
        {{ section.settings.gg1sQ_qmMst_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-561864301351011233 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ipwhmw-sc/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=561864286184407969&sectionId=561864301351011233)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg4kVVp74rV_text","label":"gg4kVVp74rV_text","default":"<p>Contact Us</p>"},{"type":"html","id":"ggcbg91Z0Sk_text","label":"ggcbg91Z0Sk_text","default":"<p>GemThemes Candid Enthusiasm from the Summer</p>"},{"type":"html","id":"ggnkclucD-a_text","label":"ggnkclucD-a_text","default":"<p>Address:</p>"},{"type":"html","id":"ggjFl57Zxjc_text","label":"ggjFl57Zxjc_text","default":"<p>Eight Avenue 487, London</p>"},{"type":"html","id":"ggk3BHz9F5y_text","label":"ggk3BHz9F5y_text","default":"<p>Phone:</p>"},{"type":"html","id":"ggwczXnCAA1_text","label":"ggwczXnCAA1_text","default":"<p>+012 345 6789 0000</p>"},{"type":"html","id":"ggaqGUDEnoQ_text","label":"ggaqGUDEnoQ_text","default":"<p>Email:</p>"},{"type":"html","id":"ggQHc9-8Ujc_text","label":"ggQHc9-8Ujc_text","default":"<p>support@luxebrims.com</p>"},{"type":"html","id":"ggH2P4ywhTp_text","label":"ggH2P4ywhTp_text","default":"<p>Web:</p>"},{"type":"html","id":"ggPKbT8Xwgl_text","label":"ggPKbT8Xwgl_text","default":"<p>https://luxebrims.com/</p>"},{"type":"html","id":"ggxVsNxv8qN_placeholder","label":"ggxVsNxv8qN_placeholder","default":"Name"},{"type":"html","id":"gghD9vzkMGL_placeholder","label":"gghD9vzkMGL_placeholder","default":"Email"},{"type":"html","id":"gg_1z0j2ZCj_placeholder","label":"gg_1z0j2ZCj_placeholder","default":"Message"},{"type":"html","id":"gg1sQ_qmMst_label","label":"gg1sQ_qmMst_label","default":"Submit"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
