
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-594337781904704423.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-594337781904704423.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-594337781904704423.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-594337781904704423.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-594337781904704423.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-594337781904704423.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-594337781904704423.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-594337781904704423.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-594337781904704423.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-594337781904704423.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-594337781904704423.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-594337781904704423.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-594337781904704423.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-594337781904704423.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-594337781904704423.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-594337781904704423.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-594337781904704423.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-594337781904704423.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-594337781904704423.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-594337781904704423.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-594337781904704423.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-594337781904704423.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-594337781904704423.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-594337781904704423.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-594337781904704423.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-594337781904704423.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-594337781904704423.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-594337781904704423.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-594337781904704423.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-594337781904704423.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-594337781904704423.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-594337781904704423.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-594337781904704423.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-594337781904704423.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-594337781904704423.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-594337781904704423.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-594337781904704423.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-594337781904704423.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-594337781904704423.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-594337781904704423.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-594337781904704423.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-594337781904704423.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-594337781904704423.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-594337781904704423.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-594337781904704423.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-594337781904704423.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-594337781904704423.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-594337781904704423.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-594337781904704423.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-594337781904704423.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-594337781904704423.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-594337781904704423.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-594337781904704423.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-594337781904704423.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-594337781904704423.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-594337781904704423.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-594337781904704423.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-594337781904704423.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-594337781904704423.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-594337781904704423.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-594337781904704423.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-594337781904704423.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-594337781904704423.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-594337781904704423.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-594337781904704423.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-594337781904704423.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-594337781904704423.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-594337781904704423.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-594337781904704423.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-594337781904704423.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-594337781904704423.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-594337781904704423.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-594337781904704423.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-594337781904704423.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-594337781904704423.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-594337781904704423.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-594337781904704423.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-594337781904704423.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-594337781904704423.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-594337781904704423.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-594337781904704423.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-594337781904704423.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-594337781904704423.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-594337781904704423.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-594337781904704423.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-594337781904704423.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-594337781904704423.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-594337781904704423.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-594337781904704423.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-594337781904704423.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-594337781904704423.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-594337781904704423.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-594337781904704423 .gp-invisible{visibility:hidden}.gps-594337781904704423 .\!gp-absolute{position:absolute!important}.gps-594337781904704423 .gp-absolute{position:absolute}.gps-594337781904704423 .gp-relative{position:relative}.gps-594337781904704423 .-gp-z-1{z-index:-1}.gps-594337781904704423 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-594337781904704423 .gp-mb-0{margin-bottom:0}.gps-594337781904704423 .gp-flex{display:flex}.gps-594337781904704423 .gp-inline-flex{display:inline-flex}.gps-594337781904704423 .gp-grid{display:grid}.gps-594337781904704423 .\!gp-hidden{display:none!important}.gps-594337781904704423 .gp-hidden{display:none}.gps-594337781904704423 .gp-h-full{height:100%}.gps-594337781904704423 .gp-w-full{width:100%}.gps-594337781904704423 .gp-max-w-full{max-width:100%}.gps-594337781904704423 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-594337781904704423 .gp-flex-col{flex-direction:column}.gps-594337781904704423 .\!gp-content-stretch{align-content:stretch!important}.gps-594337781904704423 .gp-items-center{align-items:center}.gps-594337781904704423 .gp-justify-end{justify-content:flex-end}.gps-594337781904704423 .gp-justify-center{justify-content:center}.gps-594337781904704423 .\!gp-self-center{align-self:center!important}.gps-594337781904704423 .gp-self-center{align-self:center}.gps-594337781904704423 .gp-overflow-hidden{overflow:hidden}.gps-594337781904704423 .gp-break-words{overflow-wrap:break-word}.gps-594337781904704423 .gp-text-center{text-align:center}.gps-594337781904704423 .gp-no-underline{text-decoration-line:none}.gps-594337781904704423 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-594337781904704423 .gp-duration-200{transition-duration:.2s}.gps-594337781904704423 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-594337781904704423 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-594337781904704423 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-594337781904704423 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-594337781904704423 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-594337781904704423 .tablet\:\!gp-absolute{position:absolute!important}.gps-594337781904704423 .tablet\:\!gp-hidden{display:none!important}.gps-594337781904704423 .tablet\:gp-hidden{display:none}.gps-594337781904704423 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-594337781904704423 .tablet\:gp-justify-end{justify-content:flex-end}.gps-594337781904704423 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-594337781904704423 .mobile\:\!gp-relative{position:relative!important}.gps-594337781904704423 .mobile\:\!gp-hidden{display:none!important}.gps-594337781904704423 .mobile\:gp-hidden{display:none}.gps-594337781904704423 .mobile\:\!gp-h-auto{height:auto!important}.gps-594337781904704423 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-594337781904704423 .mobile\:gp-justify-end{justify-content:flex-end}.gps-594337781904704423 .mobile\:\!gp-self-center{align-self:center!important}}.gps-594337781904704423 .\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}@media (max-width:1024px){.gps-594337781904704423 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-594337781904704423 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-594337781904704423 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-594337781904704423 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FCFAF7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gyP8o2ssLu"}' data-id="gyP8o2ssLu" id="gyP8o2ssLu" data-same-height-subgrid-container class="gyP8o2ssLu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:30px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:22px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:30px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FCFAF7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gM1VCGFYlY gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gaGILFFp27"
        class="gaGILFFp27 gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ml:auto;--ml-tablet:auto;--ml-mobile:auto;--w:100%;--w-tablet:auto;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto;--h:auto;--h-tablet:auto;--h-mobile:600px"
        gp-data='{"background":{"desktop":{"type":"image","image":{"src":"https://cdn.shopify.com/s/files/1/0700/3540/7006/files/1_3361a3d3-008c-4124-b144-544fb6f74340.jpg","width":1920,"height":800,"storage":"FILE_CONTENT","backupFileKey":"gempages_560307868822144090-238e483c-45ef-4f53-be3e-69c61eee411f.jpg"},"size":"cover","position":{"x":50,"y":50},"repeat":"repeat","attachment":"scroll","video":"","videoHtml5":"","videoType":"youtube","loop":true,"lazyLoad":false,"preload":true},"tablet":{"type":"image","image":{"src":"https://cdn.shopify.com/s/files/1/0700/3540/7006/files/1_3361a3d3-008c-4124-b144-544fb6f74340.jpg","width":1920,"height":800,"storage":"FILE_CONTENT","backupFileKey":"gempages_560307868822144090-238e483c-45ef-4f53-be3e-69c61eee411f.jpg"},"size":"cover","position":{"x":50,"y":50},"repeat":"repeat","attachment":"scroll","video":"","videoHtml5":"","videoType":"youtube","loop":true,"lazyLoad":false,"preload":true},"mobile":{"type":"image","image":{"src":"https://cdn.shopify.com/s/files/1/0700/3540/7006/files/3_b2173b7f-cfc0-4e4e-ab1b-dba280dac6e4.jpg","width":780,"height":1200,"storage":"FILE_CONTENT","backupFileKey":"gempages_560307868822144090-cdd7af6e-a131-400e-8a70-efaf20af49c5.jpg"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"","videoHtml5":"","videoType":"youtube","loop":true,"lazyLoad":false,"preload":false}},"uid":"gaGILFFp27","enableParallax":true,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"120%","layout":{"desktop":{"cols":[12],"display":"fill","type":"center-bottom"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"bottom"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-end tablet:gp-justify-end mobile:gp-justify-end" style="--h:auto;--h-tablet:auto;--h-mobile:600px;--aspect:auto;--aspect-tablet:auto">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ "1_3361a3d3-008c-4124-b144-544fb6f74340.jpg" | file_url }});--bgi-tablet:url({{ "1_3361a3d3-008c-4124-b144-544fb6f74340.jpg" | file_url }});--bgi-mobile:url({{ "3_b2173b7f-cfc0-4e4e-ab1b-dba280dac6e4.jpg" | file_url }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:120%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row !gp-absolute tablet:!gp-absolute mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-end tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:end;--pc-tablet:end;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:0"
      class="gwC7t7tpif gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"/collections/specialsales","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ml:-90px;--mb:200px;--ml-tablet:136px;--mb-tablet:100px;--ml-mobile:24px;--mb-mobile:40px;--ta:left;--ta-tablet:left;--ta-mobile:center" >
        <style>[data-id="gQx7e0-SUW"].gp-button-base::before, [data-id="gQx7e0-SUW-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgba(255, 255, 255, 0.5);
  
    
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      
  
    }
  
      
  [data-id="gQx7e0-SUW"]:hover::before, [data-id="gQx7e0-SUW-interaction"]:hover::before {
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FCFAF7;
  
    
  }</style>
        
        <a
          data-id="gQx7e0-SUW" dataId="gQx7e0-SUW" data-state="idle" aria-label="<p>Shop Now</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/specialsales" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--hvr-bblr:15px;--hvr-bbrr:15px;--hvr-btlr:15px;--hvr-btrr:15px;--bgi:;--hvr-bgi:;--bg:#FFFFFF;--hvr-bg:#00000000;--hvr-c:#000000;--c:#121212;--ff:var(--g-font-PlayfairDisplay-VariableFont_wght, 'PlayfairDisplay-VariableFont_wght'), var(--g-font-body, body);--size:24px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="gQx7e0-SUW gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-PlayfairDisplay-VariableFont_wght, 'PlayfairDisplay-VariableFont_wght'), var(--g-font-body, body);--size:24px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggQx7e0-SUW_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "3_b2173b7f-cfc0-4e4e-ab1b-dba280dac6e4.jpg" | file_url }}" srcset="{{ "3_b2173b7f-cfc0-4e4e-ab1b-dba280dac6e4.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "1_3361a3d3-008c-4124-b144-544fb6f74340.jpg" | file_url }}" srcset="{{ "1_3361a3d3-008c-4124-b144-544fb6f74340.jpg" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high" title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ "1_3361a3d3-008c-4124-b144-544fb6f74340.jpg" | file_url }}" data-src="{{ "1_3361a3d3-008c-4124-b144-544fb6f74340.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:600px;--w:100%;--w-tablet:auto;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-594337781904704423 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ipwhmw-sc/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=594337781686207399&sectionId=594337781904704423)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggQx7e0-SUW_label","label":"ggQx7e0-SUW_label","default":"<p>Shop Now</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}