
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604188654956446407.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604188654956446407.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604188654956446407.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604188654956446407.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604188654956446407.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604188654956446407.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604188654956446407.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604188654956446407.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604188654956446407.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604188654956446407.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604188654956446407.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604188654956446407.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604188654956446407.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604188654956446407.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604188654956446407.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604188654956446407.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604188654956446407.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604188654956446407.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604188654956446407.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604188654956446407.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604188654956446407.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-604188654956446407.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-604188654956446407.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-604188654956446407.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-604188654956446407.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604188654956446407.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-604188654956446407.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604188654956446407.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-604188654956446407.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-604188654956446407.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-604188654956446407.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-604188654956446407.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604188654956446407.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-604188654956446407.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-604188654956446407.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604188654956446407.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604188654956446407.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604188654956446407.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604188654956446407.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604188654956446407.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604188654956446407.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604188654956446407.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604188654956446407.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-604188654956446407.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604188654956446407.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-604188654956446407.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604188654956446407.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-604188654956446407.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-604188654956446407.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-604188654956446407.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-604188654956446407.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-604188654956446407.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-604188654956446407.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-604188654956446407.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-604188654956446407.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604188654956446407.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604188654956446407.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-604188654956446407.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-604188654956446407.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-604188654956446407.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-604188654956446407.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-604188654956446407.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-604188654956446407.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-604188654956446407.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-604188654956446407.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-604188654956446407.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-604188654956446407.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-604188654956446407.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-604188654956446407.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604188654956446407.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604188654956446407.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604188654956446407.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604188654956446407.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-604188654956446407.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-604188654956446407.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-604188654956446407.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-604188654956446407 .gp-relative{position:relative}.gps-604188654956446407 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604188654956446407 .gp-mb-0{margin-bottom:0}.gps-604188654956446407 .gp-flex{display:flex}.gps-604188654956446407 .gp-inline-flex{display:inline-flex}.gps-604188654956446407 .gp-grid{display:grid}.gps-604188654956446407 .\!gp-hidden{display:none!important}.gps-604188654956446407 .gp-hidden{display:none}.gps-604188654956446407 .gp-max-w-full{max-width:100%}.gps-604188654956446407 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604188654956446407 .gp-flex-col{flex-direction:column}.gps-604188654956446407 .gp-items-center{align-items:center}.gps-604188654956446407 .gp-justify-center{justify-content:center}.gps-604188654956446407 .gp-overflow-hidden{overflow:hidden}.gps-604188654956446407 .gp-leading-\[0\]{line-height:0}.gps-604188654956446407 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-604188654956446407 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604188654956446407 .gp-duration-200{transition-duration:.2s}.gps-604188654956446407 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-604188654956446407 .tablet\:\!gp-hidden{display:none!important}.gps-604188654956446407 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-604188654956446407 .mobile\:\!gp-hidden{display:none!important}.gps-604188654956446407 .mobile\:gp-hidden{display:none}}.gps-604188654956446407 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-604188654956446407 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-604188654956446407 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-604188654956446407 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-604188654956446407 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FCFAF7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gd9nKjCL1b"}' data-id="gd9nKjCL1b" id="gd9nKjCL1b" data-same-height-subgrid-container class="gd9nKjCL1b gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:36px;--pl:15%;--pb:36px;--pr:15%;--pt-tablet:24px;--pl-tablet:15px;--pb-tablet:24px;--pr-tablet:15px;--pt-mobile:24px;--pl-mobile:15px;--pb-mobile:24px;--pr-mobile:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FCFAF7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gVssz1FaMZ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gwXVFV8OIP"}' data-id="gwXVFV8OIP" id="gwXVFV8OIP" data-same-height-subgrid-container class="gwXVFV8OIP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:30px;--cg-mobile:0;--rg-mobile:0;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gYIdMkrodG gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-3","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gF4ae8jPSA"}' data-id="gF4ae8jPSA" id="gF4ae8jPSA" data-same-height-subgrid-container class="gF4ae8jPSA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:30px;--pl:30px;--pb:30px;--pr:30px;--mb-mobile:24px;--pt-mobile:8px;--pl-mobile:8px;--pb-mobile:8px;--pr-mobile:8px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gO_-TddMeK gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gwMJxT8_q_" class="gp-leading-[0] gwMJxT8_q_" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gwMJxT8_q_" class="icon-wrapper gp-inline-flex gp-overflow-hidden gwMJxT8_q_ " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:35px;--w-tablet:35px;--w-mobile:35px;--h:35px;--h-tablet:35px;--h-mobile:35px;--minw:35px;--minw-tablet:35px;--minw-mobile:35px;--height-desktop:35px;--height-tablet:35px;--height-mobile:35px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><?xml version="1.0" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg data-name="nursing.svg" data-id="603784432934978190" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" t="1769411472726" class="icon" viewBox="0 0 1024 1024" version="1.1" p-id="21386" width="48" height="48"><path d="M470.9 690.1c8.6 21.2 11.4 43.6 11.4 66.4v180.9c0 12.7-7.3 22.3-20 22.3H278.6c-12.7 0-25.8-9.5-25.8-22.3V816.2c0-17-1.8-33.6-8.2-49.3-6.4-15.7-14.9-29.9-26.7-42L115.4 619.2c-16-16.4-29.4-35.6-38-56.9-8.6-21.3-13.9-43.7-13.9-66.7v-202.5c0-12.7 10-23.1 22.7-23.1s22.7 10.3 22.7 23.1V495.6c0 17 4.6 33.6 11 49.3 6.4 15.7 16.3 29.9 28.1 42l103.1 105.7c16 16.4 27.6 35.6 36.2 56.9 8.6 21.3 12.1 43.7 12.1 66.7v97.9h137.5V756.6c0-16.9-2-33.4-8.3-49.1-6.3-15.7-14.9-29.8-26.6-41.9L223.5 480.4c-8.8-9.1-8.5-23.8 0.6-32.6 4.4-4.3 10.3-6.6 16.4-6.5 6.1 0.1 11.9 2.6 16.2 7l178.2 185.1c15.8 16.4 27.5 35.5 36 56.7zM937.8 270c-12.7 0-22.7 10.3-22.7 23.1V495.9c0 17-2.2 33.6-8.5 49.3-6.4 15.7-15.1 29.9-26.9 42L777.2 693c-16 16.5-29.7 35.6-38.3 56.9-8.6 21.3-14.2 43.7-14.2 66.7v97.6H587.1V756.9c0-16.9 4.4-33.4 10.7-49.1 6.3-15.7 16.1-29.8 27.8-41.9l179.2-185.3c8.8-9.1 8.8-23.7-0.3-32.6-4.3-4.2-10.2-6.6-16.3-6.5-6.1 0.1-11.9 2.6-16.1 6.9l-0.1 0.1-178.9 185.3c-15.9 16.4-29.2 35.5-37.7 56.7-8.6 21.2-13.8 43.5-13.8 66.4v180.7c0 12.7 12.2 22.3 24.9 22.3h183.8c12.7 0 21-9.5 21-22.3v-121c0-17 4.2-33.6 10.6-49.3 6.4-15.7 16.1-29.9 27.9-42l103-105.7c16-16.4 27.3-35.6 35.9-56.8 8.6-21.3 11.8-43.7 11.8-66.7v-202.8c0-13-10-23.3-22.7-23.3zM540.1 417.2c-1.2 0.6-2.3 1-4.8 1.4v135.9c0 12.7-10.7 23.1-23.3 23.1-12.7 0-23.3-10.3-23.3-23.1V416c0-0.4-1.5-0.8-3-1.5l-180.2-85c-13.2-6.2-24.4-15-33.9-26-9.5-11.1-16.3-23.8-20.3-37.8l-50.1-171.9c-2.4-8.4 0.1-17.4 6.4-23.4 6.4-5.9 15.5-7.8 23.7-4.8L423.5 137c16.7 6.2 31.6 16.7 43 30.3 11.5 13.7 19.1 30.1 22.2 47.7l27.6 157 57.3-142.5c5.4-13.4 13.6-25.5 24-35.5s22.9-17.7 36.5-22.6l167.4-60.3c3.3-12.3 15.9-19.6 28.2-16.3 12.2 3.3 19.5 16 16.2 28.3-2 7.3-7.3 13.1-14.4 15.7l-31 115.3c-3.8 14.3-10.7 27.5-20.2 38.8-9.5 11.4-21.7 20.4-35.1 26.8L540.1 417.2z m34.6-67l151.3-72.1c7.4-3.5 13.9-8.6 19.1-14.8 5.2-6.2 8.9-13.4 11-21.2l19.5-72.7-126.1 45.4c-7.6 2.7-14.4 7-20.2 12.5a57.17 57.17 0 0 0-13.2 19.4L574.7 350.2z m-108.2 3.7l-23-130.9c-1.7-9.6-5.9-18.5-12.1-26-6.4-7.6-14.6-13.3-23.8-16.8l-149.3-55.4 37.3 127.9c2.2 7.6 6 14.6 11.2 20.6 5.2 6.1 11.7 11 18.9 14.4l140.8 66.2z m0 0" p-id="21387"/></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmDRD0ev3D"
        class="gmDRD0ev3D"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-PlayfairDisplay-VariableFont_wght, 'PlayfairDisplay-VariableFont_wght'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmDRD0ev3D_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gUdCEUFwph gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-3","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gF6_3n_X5m"}' data-id="gF6_3n_X5m" id="gF6_3n_X5m" data-same-height-subgrid-container class="gF6_3n_X5m gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:30px;--pl:30px;--pb:30px;--pr:30px;--mb-mobile:24px;--pt-mobile:8px;--pl-mobile:8px;--pb-mobile:8px;--pr-mobile:8px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2y8QYemwQ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gA5kCmiA_Z" class="gp-leading-[0] gA5kCmiA_Z" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gA5kCmiA_Z" class="icon-wrapper gp-inline-flex gp-overflow-hidden gA5kCmiA_Z " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:35px;--w-tablet:35px;--w-mobile:35px;--h:35px;--h-tablet:35px;--h-mobile:35px;--minw:35px;--minw-tablet:35px;--minw-mobile:35px;--height-desktop:35px;--height-tablet:35px;--height-mobile:35px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><?xml version="1.0" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg data-name="手工具.svg" data-id="603944913196811185" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" t="1769508799471" class="icon" viewBox="0 0 1024 1024" version="1.1" p-id="32017" width="48" height="48"><path d="M242.526316 541.642105a215.578947 215.578947 0 0 1 0 431.157895 215.578947 215.578947 0 0 1 0-431.157895z m0 53.894737a161.684211 161.684211 0 1 0 0 323.368421 161.684211 161.684211 0 0 0 0-323.368421z" fill="#323232" p-id="32018"/><path d="M242.526316 649.431579a107.789474 107.789474 0 1 1 0 215.578947 107.789474 107.789474 0 0 1 0-215.578947z m0 53.894737a53.894737 53.894737 0 1 0 0 107.789473 53.894737 53.894737 0 0 0 0-107.789473z m538.947368-161.684211a215.578947 215.578947 0 0 1 0 431.157895 215.578947 215.578947 0 0 1 0-431.157895z m0 53.894737a161.684211 161.684211 0 1 0 0 323.368421 161.684211 161.684211 0 0 0 0-323.368421z" fill="#323232" p-id="32019"/><path d="M781.473684 649.431579a107.789474 107.789474 0 1 1 0 215.578947 107.789474 107.789474 0 0 1 0-215.578947z m0 53.894737a53.894737 53.894737 0 1 0 0 107.789473 53.894737 53.894737 0 0 0 0-107.789473zM221.507368 56.050526a215.578947 215.578947 0 0 0 0 304.882527l381.143579 381.143579c15.629474-47.966316 39.289263-87.848421 71.033264-119.538527 31.797895-31.797895 71.572211-55.511579 119.538526-71.033263l-533.557895-533.557895-38.103579 38.157474H221.507368z m478.585264 478.531369l-8.461474 5.12a324.446316 324.446316 0 0 0-100.783158 100.783158l-5.066105 8.407579-326.117053-326.063158a161.684211 161.684211 0 0 1-6.521263-221.722948l6.467368-6.898526 440.535579 440.32h-0.053894z" fill="#323232" p-id="32020"/><path d="M802.492632 56.050526a215.578947 215.578947 0 0 1 0 304.882527l-381.143579 381.143579c-15.629474-47.966316-39.343158-87.848421-71.033264-119.538527-31.797895-31.797895-71.572211-55.511579-119.538526-71.033263l533.557895-533.557895 38.103579 38.157474zM323.907368 534.635789l8.461474 5.066106a324.446316 324.446316 0 0 1 100.783158 100.783158l5.066105 8.461473 326.063158-326.063158a161.684211 161.684211 0 0 0 6.575158-221.776842l-6.521263-6.898526L323.907368 534.635789z" fill="#323232" p-id="32021"/><path d="M512 433.852632a53.894737 53.894737 0 1 1 0 107.789473 53.894737 53.894737 0 1 1 0-107.789473z" fill="#323232" p-id="32022"/></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1AbPH7t5B"
        class="g1AbPH7t5B"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-PlayfairDisplay-VariableFont_wght, 'PlayfairDisplay-VariableFont_wght'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1AbPH7t5B_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gCjk1ETWG3 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-3","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gxaBMWXD8X"}' data-id="gxaBMWXD8X" id="gxaBMWXD8X" data-same-height-subgrid-container class="gxaBMWXD8X gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:30px;--pl:30px;--pb:30px;--pr:30px;--mb-mobile:24px;--pt-mobile:8px;--pl-mobile:8px;--pb-mobile:8px;--pr-mobile:8px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gf8UeVFmbk gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gcfLsywbWy" class="gp-leading-[0] gcfLsywbWy" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gcfLsywbWy" class="icon-wrapper gp-inline-flex gp-overflow-hidden gcfLsywbWy " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:35px;--w-tablet:35px;--w-mobile:35px;--h:35px;--h-tablet:35px;--h-mobile:35px;--minw:35px;--minw-tablet:35px;--minw-mobile:35px;--height-desktop:35px;--height-tablet:35px;--height-mobile:35px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><?xml version="1.0" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg data-name="Premium Quality.svg" data-id="603784475649770126" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" t="1769411709179" class="icon" viewBox="0 0 1024 1024" version="1.1" p-id="23364" width="48" height="48"><path d="M723.139025 366.312727l60.672-193.512727 148.061091 193.512727h-208.733091z m-16.034909 51.2h216.692364L582.059753 816.407273l125.067636-398.894546z m-382.882909 0l132.421818 399.709091L103.363025 417.512727h220.858182z m24.482909-88.855272L287.613207 144.290909h180.596364l-119.505455 184.389818zM561.30048 144.290909h177.803636l-59.671272 190.254546L561.30048 144.290909z m-175.988364 222.045091l129.489455-199.842909 124.113454 199.842909H385.312116z m268.125091 51.2l-133.818182 426.914909-141.474909-426.938182h275.316364zM245.699025 180.433455l61.556364 185.856H102.874298l142.824727-185.856z m756.317091 193.28L795.005207 103.121455a25.6 25.6 0 0 0-20.340363-10.007273H260.896116c-7.959273 0-15.453091 3.653818-20.293818 9.960727L28.587753 378.949818a25.530182 25.530182 0 0 0 1.117091 32.535273L501.070662 944.802909c0.395636 0.465455 0.954182 0.605091 1.349818 1.000727 0.698182 0.698182 1.326545 1.419636 2.094545 2.048 1.233455 0.954182 2.56 1.675636 3.956364 2.397091 0.768 0.418909 1.489455 0.837818 2.327273 1.163637 0.605091 0.256 1.117091 0.651636 1.745454 0.837818l0.069819 0.046545c2.56 0.791273 5.12 1.163636 7.68 1.163637h0.186181l0.139637-0.046546c2.629818-0.046545 5.213091-0.442182 7.68-1.256727l0.093091-0.046546c0.558545-0.186182 1.000727-0.558545 1.536-0.791272 0.861091-0.349091 1.629091-0.791273 2.420363-1.233455 1.396364-0.744727 2.699636-1.489455 3.909818-2.466909 0.791273-0.651636 1.419636-1.373091 2.117819-2.094545 0.395636-0.418909 0.954182-0.581818 1.326545-1.000728l461.405091-538.577454a25.6 25.6 0 0 0 0.930909-32.209455z" fill="#1E1F20" p-id="23365"/></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gakOQ9-WyB"
        class="gakOQ9-WyB"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-PlayfairDisplay-VariableFont_wght, 'PlayfairDisplay-VariableFont_wght'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggakOQ9-WyB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gFrtcVll9L gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-3","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g2cSE-u0EO"}' data-id="g2cSE-u0EO" id="g2cSE-u0EO" data-same-height-subgrid-container class="g2cSE-u0EO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:30px;--pl:30px;--pb:30px;--pr:30px;--mb-mobile:24px;--pt-mobile:8px;--pl-mobile:8px;--pb-mobile:8px;--pr-mobile:8px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gTsIhU9stJ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gsrfBeUubN" class="gp-leading-[0] gsrfBeUubN" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gsrfBeUubN" class="icon-wrapper gp-inline-flex gp-overflow-hidden gsrfBeUubN " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:35px;--w-tablet:35px;--w-mobile:35px;--h:35px;--h-tablet:35px;--h-mobile:35px;--minw:35px;--minw-tablet:35px;--minw-mobile:35px;--height-desktop:35px;--height-tablet:35px;--height-mobile:35px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><?xml version="1.0" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg data-name="售后保障.svg" data-id="603784541450011278" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" t="1769411863956" class="icon" viewBox="0 0 1024 1024" version="1.1" p-id="28036" width="48" height="48"><path d="M918.016 246.6816a26.752 26.752 0 0 0-22.1696-24.6784l-350.72-90.9568a65.4848 65.4848 0 0 0-39.9616 0l-350.72 90.8544a32.6912 32.6912 0 0 0-22.1696 24.6784 832.64 832.64 0 0 0 17.7408 276.7616 539.1616 539.1616 0 0 0 110.9504 223.1552 528.9216 528.9216 0 0 0 248.5248 161.1008 40.0896 40.0896 0 0 0 31.0528 0 528.9216 528.9216 0 0 0 248.5504-161.1008 598.8096 598.8096 0 0 0 110.9504-223.0528 832.6656 832.6656 0 0 0 17.7408-276.7616z m-79.9744 264.3712c-44.3904 173.4656-150.8864 289.152-315.1104 338.7136A453.2736 453.2736 0 0 1 207.8208 511.0528a732.3904 732.3904 0 0 1-17.7408-243.6864l332.9792-86.7584 332.8 86.7584a728.0128 728.0128 0 0 1-17.8432 243.7632z" fill="#2c2c2c" p-id="28037"/><path d="M459.9296 640.4352l-129.2288-122.2656a35.6608 35.6608 0 0 1 0-50.944 36.9408 36.9408 0 0 1 51.712 0l103.3984 96.8192 211.968-193.5872a36.9408 36.9408 0 0 1 51.712 0 35.6608 35.6608 0 0 1 0 50.944l-238.08 219.0848a37.888 37.888 0 0 1-51.712 0z" fill="#2c2c2c" p-id="28038"/></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glog8dZIys"
        class="glog8dZIys"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-PlayfairDisplay-VariableFont_wght, 'PlayfairDisplay-VariableFont_wght'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglog8dZIys_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gp8K2U01iT"}' data-id="gp8K2U01iT" id="gp8K2U01iT" data-same-height-subgrid-container class="gp8K2U01iT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:none;--d-tablet:none;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--cg-mobile:18px;--rg:16px;--rg-tablet:16px;--rg-mobile:18px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:start"
      class="g-RRSAKvdG gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-3","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gzTZgJR3Ek"}' data-id="gzTZgJR3Ek" id="gzTZgJR3Ek" data-same-height-subgrid-container class="gzTZgJR3Ek gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:30px;--pl:30px;--pb:30px;--pr:30px;--mb-mobile:18px;--pt-mobile:8px;--pl-mobile:8px;--pb-mobile:8px;--pr-mobile:8px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXDnuDxhkK gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g1LKuRSPiQ" class="gp-leading-[0] g1LKuRSPiQ" style="--mb:var(--g-s-l);--mb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="g1LKuRSPiQ" class="icon-wrapper gp-inline-flex gp-overflow-hidden g1LKuRSPiQ " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><?xml version="1.0" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg data-name="nursing.svg" data-id="603784432934978190" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" t="1769411472726" class="icon" viewBox="0 0 1024 1024" version="1.1" p-id="21386" width="48" height="48"><path d="M470.9 690.1c8.6 21.2 11.4 43.6 11.4 66.4v180.9c0 12.7-7.3 22.3-20 22.3H278.6c-12.7 0-25.8-9.5-25.8-22.3V816.2c0-17-1.8-33.6-8.2-49.3-6.4-15.7-14.9-29.9-26.7-42L115.4 619.2c-16-16.4-29.4-35.6-38-56.9-8.6-21.3-13.9-43.7-13.9-66.7v-202.5c0-12.7 10-23.1 22.7-23.1s22.7 10.3 22.7 23.1V495.6c0 17 4.6 33.6 11 49.3 6.4 15.7 16.3 29.9 28.1 42l103.1 105.7c16 16.4 27.6 35.6 36.2 56.9 8.6 21.3 12.1 43.7 12.1 66.7v97.9h137.5V756.6c0-16.9-2-33.4-8.3-49.1-6.3-15.7-14.9-29.8-26.6-41.9L223.5 480.4c-8.8-9.1-8.5-23.8 0.6-32.6 4.4-4.3 10.3-6.6 16.4-6.5 6.1 0.1 11.9 2.6 16.2 7l178.2 185.1c15.8 16.4 27.5 35.5 36 56.7zM937.8 270c-12.7 0-22.7 10.3-22.7 23.1V495.9c0 17-2.2 33.6-8.5 49.3-6.4 15.7-15.1 29.9-26.9 42L777.2 693c-16 16.5-29.7 35.6-38.3 56.9-8.6 21.3-14.2 43.7-14.2 66.7v97.6H587.1V756.9c0-16.9 4.4-33.4 10.7-49.1 6.3-15.7 16.1-29.8 27.8-41.9l179.2-185.3c8.8-9.1 8.8-23.7-0.3-32.6-4.3-4.2-10.2-6.6-16.3-6.5-6.1 0.1-11.9 2.6-16.1 6.9l-0.1 0.1-178.9 185.3c-15.9 16.4-29.2 35.5-37.7 56.7-8.6 21.2-13.8 43.5-13.8 66.4v180.7c0 12.7 12.2 22.3 24.9 22.3h183.8c12.7 0 21-9.5 21-22.3v-121c0-17 4.2-33.6 10.6-49.3 6.4-15.7 16.1-29.9 27.9-42l103-105.7c16-16.4 27.3-35.6 35.9-56.8 8.6-21.3 11.8-43.7 11.8-66.7v-202.8c0-13-10-23.3-22.7-23.3zM540.1 417.2c-1.2 0.6-2.3 1-4.8 1.4v135.9c0 12.7-10.7 23.1-23.3 23.1-12.7 0-23.3-10.3-23.3-23.1V416c0-0.4-1.5-0.8-3-1.5l-180.2-85c-13.2-6.2-24.4-15-33.9-26-9.5-11.1-16.3-23.8-20.3-37.8l-50.1-171.9c-2.4-8.4 0.1-17.4 6.4-23.4 6.4-5.9 15.5-7.8 23.7-4.8L423.5 137c16.7 6.2 31.6 16.7 43 30.3 11.5 13.7 19.1 30.1 22.2 47.7l27.6 157 57.3-142.5c5.4-13.4 13.6-25.5 24-35.5s22.9-17.7 36.5-22.6l167.4-60.3c3.3-12.3 15.9-19.6 28.2-16.3 12.2 3.3 19.5 16 16.2 28.3-2 7.3-7.3 13.1-14.4 15.7l-31 115.3c-3.8 14.3-10.7 27.5-20.2 38.8-9.5 11.4-21.7 20.4-35.1 26.8L540.1 417.2z m34.6-67l151.3-72.1c7.4-3.5 13.9-8.6 19.1-14.8 5.2-6.2 8.9-13.4 11-21.2l19.5-72.7-126.1 45.4c-7.6 2.7-14.4 7-20.2 12.5a57.17 57.17 0 0 0-13.2 19.4L574.7 350.2z m-108.2 3.7l-23-130.9c-1.7-9.6-5.9-18.5-12.1-26-6.4-7.6-14.6-13.3-23.8-16.8l-149.3-55.4 37.3 127.9c2.2 7.6 6 14.6 11.2 20.6 5.2 6.1 11.7 11 18.9 14.4l140.8 66.2z m0 0" p-id="21387"/></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZTz8rSbVJ"
        class="gZTz8rSbVJ"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-PlayfairDisplay-VariableFont_wght, 'PlayfairDisplay-VariableFont_wght'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZTz8rSbVJ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:start"
      class="gP4PtKo7Oh gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-3","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g03_lfNO_i"}' data-id="g03_lfNO_i" id="g03_lfNO_i" data-same-height-subgrid-container class="g03_lfNO_i gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:30px;--pl:30px;--pb:30px;--pr:30px;--mb-mobile:18px;--pt-mobile:8px;--pl-mobile:8px;--pb-mobile:8px;--pr-mobile:8px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g43p7avFhD gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gRjnIUs0It" class="gp-leading-[0] gRjnIUs0It" style="--mb:var(--g-s-l);--mb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gRjnIUs0It" class="icon-wrapper gp-inline-flex gp-overflow-hidden gRjnIUs0It " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><?xml version="1.0" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg data-name="手工具.svg" data-id="603944913196811185" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" t="1769508799471" class="icon" viewBox="0 0 1024 1024" version="1.1" p-id="32017" width="48" height="48"><path d="M242.526316 541.642105a215.578947 215.578947 0 0 1 0 431.157895 215.578947 215.578947 0 0 1 0-431.157895z m0 53.894737a161.684211 161.684211 0 1 0 0 323.368421 161.684211 161.684211 0 0 0 0-323.368421z" fill="#323232" p-id="32018"/><path d="M242.526316 649.431579a107.789474 107.789474 0 1 1 0 215.578947 107.789474 107.789474 0 0 1 0-215.578947z m0 53.894737a53.894737 53.894737 0 1 0 0 107.789473 53.894737 53.894737 0 0 0 0-107.789473z m538.947368-161.684211a215.578947 215.578947 0 0 1 0 431.157895 215.578947 215.578947 0 0 1 0-431.157895z m0 53.894737a161.684211 161.684211 0 1 0 0 323.368421 161.684211 161.684211 0 0 0 0-323.368421z" fill="#323232" p-id="32019"/><path d="M781.473684 649.431579a107.789474 107.789474 0 1 1 0 215.578947 107.789474 107.789474 0 0 1 0-215.578947z m0 53.894737a53.894737 53.894737 0 1 0 0 107.789473 53.894737 53.894737 0 0 0 0-107.789473zM221.507368 56.050526a215.578947 215.578947 0 0 0 0 304.882527l381.143579 381.143579c15.629474-47.966316 39.289263-87.848421 71.033264-119.538527 31.797895-31.797895 71.572211-55.511579 119.538526-71.033263l-533.557895-533.557895-38.103579 38.157474H221.507368z m478.585264 478.531369l-8.461474 5.12a324.446316 324.446316 0 0 0-100.783158 100.783158l-5.066105 8.407579-326.117053-326.063158a161.684211 161.684211 0 0 1-6.521263-221.722948l6.467368-6.898526 440.535579 440.32h-0.053894z" fill="#323232" p-id="32020"/><path d="M802.492632 56.050526a215.578947 215.578947 0 0 1 0 304.882527l-381.143579 381.143579c-15.629474-47.966316-39.343158-87.848421-71.033264-119.538527-31.797895-31.797895-71.572211-55.511579-119.538526-71.033263l533.557895-533.557895 38.103579 38.157474zM323.907368 534.635789l8.461474 5.066106a324.446316 324.446316 0 0 1 100.783158 100.783158l5.066105 8.461473 326.063158-326.063158a161.684211 161.684211 0 0 0 6.575158-221.776842l-6.521263-6.898526L323.907368 534.635789z" fill="#323232" p-id="32021"/><path d="M512 433.852632a53.894737 53.894737 0 1 1 0 107.789473 53.894737 53.894737 0 1 1 0-107.789473z" fill="#323232" p-id="32022"/></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gd5X9TgBLk"
        class="gd5X9TgBLk"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-PlayfairDisplay-VariableFont_wght, 'PlayfairDisplay-VariableFont_wght'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggd5X9TgBLk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"g9s8B-7ERI"}' data-id="g9s8B-7ERI" id="g9s8B-7ERI" data-same-height-subgrid-container class="g9s8B-7ERI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb-mobile:0px;--d:none;--d-tablet:none;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--cg-mobile:18px;--rg:16px;--rg-tablet:16px;--rg-mobile:18px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gDj-_2ccnM gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-3","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gSVNP4N-FZ"}' data-id="gSVNP4N-FZ" id="gSVNP4N-FZ" data-same-height-subgrid-container class="gSVNP4N-FZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:30px;--pl:30px;--pb:30px;--pr:30px;--mb-mobile:0px;--pt-mobile:8px;--pl-mobile:8px;--pb-mobile:8px;--pr-mobile:8px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gZhkop60Ik gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gJZgEHafzi" class="gp-leading-[0] gJZgEHafzi" style="--mb:var(--g-s-l);--mb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gJZgEHafzi" class="icon-wrapper gp-inline-flex gp-overflow-hidden gJZgEHafzi " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><?xml version="1.0" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg data-name="Premium Quality.svg" data-id="603784475649770126" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" t="1769411709179" class="icon" viewBox="0 0 1024 1024" version="1.1" p-id="23364" width="48" height="48"><path d="M723.139025 366.312727l60.672-193.512727 148.061091 193.512727h-208.733091z m-16.034909 51.2h216.692364L582.059753 816.407273l125.067636-398.894546z m-382.882909 0l132.421818 399.709091L103.363025 417.512727h220.858182z m24.482909-88.855272L287.613207 144.290909h180.596364l-119.505455 184.389818zM561.30048 144.290909h177.803636l-59.671272 190.254546L561.30048 144.290909z m-175.988364 222.045091l129.489455-199.842909 124.113454 199.842909H385.312116z m268.125091 51.2l-133.818182 426.914909-141.474909-426.938182h275.316364zM245.699025 180.433455l61.556364 185.856H102.874298l142.824727-185.856z m756.317091 193.28L795.005207 103.121455a25.6 25.6 0 0 0-20.340363-10.007273H260.896116c-7.959273 0-15.453091 3.653818-20.293818 9.960727L28.587753 378.949818a25.530182 25.530182 0 0 0 1.117091 32.535273L501.070662 944.802909c0.395636 0.465455 0.954182 0.605091 1.349818 1.000727 0.698182 0.698182 1.326545 1.419636 2.094545 2.048 1.233455 0.954182 2.56 1.675636 3.956364 2.397091 0.768 0.418909 1.489455 0.837818 2.327273 1.163637 0.605091 0.256 1.117091 0.651636 1.745454 0.837818l0.069819 0.046545c2.56 0.791273 5.12 1.163636 7.68 1.163637h0.186181l0.139637-0.046546c2.629818-0.046545 5.213091-0.442182 7.68-1.256727l0.093091-0.046546c0.558545-0.186182 1.000727-0.558545 1.536-0.791272 0.861091-0.349091 1.629091-0.791273 2.420363-1.233455 1.396364-0.744727 2.699636-1.489455 3.909818-2.466909 0.791273-0.651636 1.419636-1.373091 2.117819-2.094545 0.395636-0.418909 0.954182-0.581818 1.326545-1.000728l461.405091-538.577454a25.6 25.6 0 0 0 0.930909-32.209455z" fill="#1E1F20" p-id="23365"/></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gglEyiD4RQ"
        class="gglEyiD4RQ"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-PlayfairDisplay-VariableFont_wght, 'PlayfairDisplay-VariableFont_wght'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggglEyiD4RQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gtK3GXJWEV gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-3","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g6mIVPqHBO"}' data-id="g6mIVPqHBO" id="g6mIVPqHBO" data-same-height-subgrid-container class="g6mIVPqHBO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:30px;--pl:30px;--pb:30px;--pr:30px;--mb-mobile:0px;--pt-mobile:8px;--pl-mobile:8px;--pb-mobile:8px;--pr-mobile:8px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9sjq-3C94 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g38pYA9-aT" class="gp-leading-[0] g38pYA9-aT" style="--mb:var(--g-s-l);--mb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="g38pYA9-aT" class="icon-wrapper gp-inline-flex gp-overflow-hidden g38pYA9-aT " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><?xml version="1.0" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg data-name="售后保障.svg" data-id="603784541450011278" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" t="1769411863956" class="icon" viewBox="0 0 1024 1024" version="1.1" p-id="28036" width="48" height="48"><path d="M918.016 246.6816a26.752 26.752 0 0 0-22.1696-24.6784l-350.72-90.9568a65.4848 65.4848 0 0 0-39.9616 0l-350.72 90.8544a32.6912 32.6912 0 0 0-22.1696 24.6784 832.64 832.64 0 0 0 17.7408 276.7616 539.1616 539.1616 0 0 0 110.9504 223.1552 528.9216 528.9216 0 0 0 248.5248 161.1008 40.0896 40.0896 0 0 0 31.0528 0 528.9216 528.9216 0 0 0 248.5504-161.1008 598.8096 598.8096 0 0 0 110.9504-223.0528 832.6656 832.6656 0 0 0 17.7408-276.7616z m-79.9744 264.3712c-44.3904 173.4656-150.8864 289.152-315.1104 338.7136A453.2736 453.2736 0 0 1 207.8208 511.0528a732.3904 732.3904 0 0 1-17.7408-243.6864l332.9792-86.7584 332.8 86.7584a728.0128 728.0128 0 0 1-17.8432 243.7632z" fill="#2c2c2c" p-id="28037"/><path d="M459.9296 640.4352l-129.2288-122.2656a35.6608 35.6608 0 0 1 0-50.944 36.9408 36.9408 0 0 1 51.712 0l103.3984 96.8192 211.968-193.5872a36.9408 36.9408 0 0 1 51.712 0 35.6608 35.6608 0 0 1 0 50.944l-238.08 219.0848a37.888 37.888 0 0 1-51.712 0z" fill="#2c2c2c" p-id="28038"/></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOwdxjU5az"
        class="gOwdxjU5az"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-PlayfairDisplay-VariableFont_wght, 'PlayfairDisplay-VariableFont_wght'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOwdxjU5az_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-604188654956446407 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ipwhmw-sc/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=604074324940292807&sectionId=604188654956446407)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggmDRD0ev3D_text","label":"ggmDRD0ev3D_text","default":"<p>Pure Natural</p>"},{"type":"html","id":"gg1AbPH7t5B_text","label":"gg1AbPH7t5B_text","default":"<p>Hand Crafted&nbsp;</p>"},{"type":"html","id":"ggakOQ9-WyB_text","label":"ggakOQ9-WyB_text","default":"<p>Premium Quality</p>"},{"type":"html","id":"gglog8dZIys_text","label":"gglog8dZIys_text","default":"<p>Easy Returns</p>"},{"type":"html","id":"ggZTz8rSbVJ_text","label":"ggZTz8rSbVJ_text","default":"<p>Pure Natural</p>"},{"type":"html","id":"ggd5X9TgBLk_text","label":"ggd5X9TgBLk_text","default":"<p>Hand Crafted&nbsp;</p>"},{"type":"html","id":"ggglEyiD4RQ_text","label":"ggglEyiD4RQ_text","default":"<p>Premium Quality</p>"},{"type":"html","id":"ggOwdxjU5az_text","label":"ggOwdxjU5az_text","default":"<p>Easy Returns</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}